{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block customhead %}
    <style>
    @media (max-width: 991px) {
    .page-wrapper .col-xs-4:nth-child(3n+1) {
        clear: left;
        }
    }

    </style>
{% endblock %}

{% block content %}

    <div class="hidden-xs" style="margin-top: 50px">
        {% if slideDesktop %}
            <a href="{{slideDesktop.link}}"> <img style="width: 100%; margin-top: 50px" src="{{slideDesktop.image_url}}"></a>
            <div class="page-wrapper" style="text-align: center">
                <a href="/procurar/" class="btn prod-buy list call-action btn-arrow">{{ "encontrar o meu colchão"|trans }}</a>
            </div>
        {% endif %}
    </div>
    <div class="visible-xs" style="margin-top: 50px">
        {% if slideMobile %}
            <a href="{{slideDesktop.link}}"><img style="width: 100%; margin-top: 50px" src="{{slideMobile.image_url}}"></a>
            <h3 style="background-color: #1e7483; color: white; margin: 0px; padding: 20px 0px 20px 10px">{{ "30 dias para testar o seu colchão!"|trans }}</h3>
        {% endif %}
    </div>

        <div class="footer-security" style="background-color: white; ">
            <div class="page-wrapper">
                <div class="row" style="text-align: center">
                    <div class="col-md-2 col-xs-4 col-md-offset-1">
                        <div class="security-item">
                            <img src="/images/30noites2019_2.svg" data-placement="bottom" data-toggle="tooltip" title="{{ 'Se não se adaptar ao seu novo colchão devolvemos o valor'|trans }}">
                            <h2 style="margin-bottom:0px"><b>{{ "30 dias"|trans }}</b></h2>
                            <p style="font-size:11px">{{ "PARA TESTAR"|trans }}</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="security-item">
                            <img src="/images/transportegratuito2019.svg" data-placement="bottom" data-toggle="tooltip" title="{{ 'Todas as entregas são gratuitas em Portugal Continental'|trans }}">
                            <h2 style="margin-bottom:0px"><b>{{ "entregas gratuitas"|trans }}</b></h2>
                            <p style="font-size:11px">{{ "EM PORTUGAL CONTINENTAL"|trans }}</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="security-item">
                            <img src="/images/atendimento2019.svg" data-placement="bottom" data-toggle="tooltip" title="{{ 'Os nossos especialistas estão prontos para o aconselhar durante a compra'|trans }}">
                            <h2 style="margin-bottom:0px"><b>{{ "atendimento"|trans }}</b></h2>
                            <p style="font-size:11px">{{ "PERSONALIZADO"|trans }}</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="security-item">
                            <img src="/images/garantia2019.svg" data-placement="bottom" data-toggle="tooltip" title="{{ 'Oferecemos 5 anos de garantia no seu colchão'|trans }}">
                            <h2 style="margin-bottom:0px"><b>{{ "garantia"|trans }}</b></h2>
                            <p style="font-size:11px">{{ "ATÉ 5 ANOS"|trans }}</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="security-item">
                            <img src="/images/comprasegura2019.svg" data-placement="bottom" data-toggle="tooltip" title="{{ 'Pague com Cartão de Crédito Visa, Mastercard ou Cartão Multibanco'|trans }}">
                            <h2 style="margin-bottom:0px"><b>{{ "compra segura"|trans }}</b></h2>
                            <p style="font-size:11px">{{ "PAGAMENTO SEGURO"|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="visible-xs">
            <div class="page-wrapper" style="text-align: center; padding-top: 20px; padding-bottom: 20px">
                <a href="/procurar/" class="btn prod-buy list btn-arrow">{{ "encontrar o meu colchão"|trans }}</a>
            </div>
        </div>


        {% include "call_me.twig" %}





    <div class="home-content page-wrapper">
        <div class="article-list">
            {% for top in tops %}
                {% include "article_box.twig" with {'article':top}%}
            {% endfor %}
        </div>
    </div>
    <div class="page-wrapper" style="text-align: center">
        <a href="/procurar/" class="btn prod-buy list call-action btn-arrow" style="margin: 0">{{ "encontrar o meu colchão"|trans }}</a>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
