<html>
<head>
<style>
    .thankyou p{
        color:#222;
        font-size:18px;
        font-style: italic;
    }
</style>    
</head>
<body>
{% if error is defined %}
    <div class="thankyou">
        <p>{{error}}</p>
    </div>
{% else %}
<form action="{{ form_action }}" method="POST" id="sibsform">
    <input type="hidden" name="A030" value="{{ A030 }}"/>
    <input type="hidden" name="A001" value="{{ A001 }}"/> <!-- Número do TPA Virtual -->
    <input type="hidden" name="C007" value="{{ C007 }}"/> <!-- Referência do Pagamento -->
    <input type="hidden" name="A105" value="{{ A105 }}"/> <!-- Moeda da Operação -->
    <input type="hidden" name="A061" value="{{ A061 }}"/> <!-- Montante da Operação -->
    <input type="hidden" name="C046" value="{{ C046 }}"/> <!-- URL do CSS -->
    <input type="hidden" name="C012" value="{{ C012 }}"/> <!-- URL da página de confirmação da encomenda do Comerciante -->
    <input type="hidden" name="C013" value="{{ C013 }}"/> <!-- Elemento de Segurança -->
<!--<input type="submit" value="submeter"/>-->
</form>
<script type="text/javascript">
	document.getElementById("sibsform").submit();
</script>
{% endif %}
</body>
</html>