<html>
<head>
<style>
    .thankyou p{
        color:#222;
        font-size:18px;
        font-style: italic;
    }
</style>    
</head>
<body>
<div class="content">
		{% for m in message %}
		<p>{{m | raw}}</p>
		{% endfor %}
	</div>
    <div class="content" style="text-align: center">
        <button onClick='go()' class="register_button close_button" >
            {% if button_text is defined %}
                {{ button_text }}
            {% else %}
                Voltar
            {% endif %}
        </button>
    </div>
	<script type="text/javascript">
	function go(){
        {% if external_url is defined %}
		  window.parent.location.href = '{{ external_url }}';
        {% else %}
            window.parent.location.href = '{{ url }}';
        {% endif %}
		window.close();
	}
	</script>
</body>
</html>