<html>
<head>
{% include 'google_tag_manager_head.twig' %}
<script src="/js/jquery-1.10.2.min.js"></script> 
<style>
    .thankyou p{
        color:#222;
        font-size:18px;
        font-style: italic;
    }
</style>    
</head>
<body>
{% include 'google_tag_manager_body.twig' %}
<div class="block-title-payment"><h3>Pagamento efectuado com sucesso</h3></div>
    <div class="thankyou">
        <p>Obrigado pela sua compra</p>
    </div>
{% if total is defined %}
<input name="total" type="hidden" value="{{ total }}">
{% endif %}
{% include 'blocks/datalayer.twig' %}
</body>
</html>
