{% extends 'new_base.twig' %}

{% block metaTitle %}{{metaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}


    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Confirmação de Encomenda'|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-payment"><h3><i class="pf pf-visa"></i> <i class="pf pf-mastercard-alt"></i> {{ 'Pagamento com Cartão de Crédito'|trans }}</h3></div>
        <div class="thankyou">
            <p>{{ 'Pressione o botão Continuar para concluir o seu pagamento.'|trans }}</p>
            <p>{{ 'Será redireccionado para o site do seu banco.'|trans }}</p>
            <form id="adyen3ds" action="{{issuerUrl}}" method="post">
                <input type="hidden" name="MD" value="{{MD}}">
                <input type="hidden" name="TermUrl" value="{{TermUrl}}">
                <input type="hidden" name="PaReq" value="{{PaReq}}">
                <input class="btn btn-primary" type="submit" value="{{ 'Continuar'|trans }}">
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
	<script type="text/javascript">
        document.forms["adyen3ds"].submit();
        //$(document).ready(function(){$('form').submit();});
	</script>
{% endblock %}
