{% extends 'new_base.twig' %}

{% block metaTitle %}{{metaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}


    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">Confirmação de Encomenda</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-payment"><h3><i class="pf pf-visa"></i> <i class="pf pf-mastercard-alt"></i> {{ 'Pagamento com Cartão de Crédito'|trans }}</h3></div>
        <div class="thankyou">
            <p>{{ 'Caro Membro,'|trans }}</p>
            <p>{{ 'Obrigado pela sua compra.'|trans }}</p>
            <p>{{ 'Para finalizar a sua encomenda, pode pagar com cartão de Débito (Multibanco) - desde que esse contenha os 3 dígitos de segurança (código CVC/CVV) - ou com cartão de Crédito.'|trans }}</p>
        </div>
        <div class="cc-data">
            <form method="POST" action="{{ payment_handler }}" id="adyen-encrypted-form" data-toggle="validator">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="credit-card-div">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% if error is defined %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert-danger">
                                                <div class="alert-danger-content">
                                                    {% for m in error %}
                                                        <h4>{{ m }}</h4>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h5 class="text-muted text-center"> {{ 'Total a debitar: %amount% EUR'|trans({'%amount%': amount}) }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label for="cardnumber" class="control-label help-block "> {{ 'Número do cartão de crédito'|trans }} <span class="glyphicon form-control-feedback" aria-hidden="true"></span> </label>
                                                <input id="cardnumber" type="number" size="20" class="form-control" placeholder="0000 0000 0000 0000" data-encrypted-name="number" required data-error="{{ 'Preencha o número do cartão (16 dígitos)'|trans }}" data-minlength="16" data-maxlength="16"/>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-xs-4">
                                            <div class="form-group has-feedback">
                                                <label for="month" class="control-label help-block ">{{ 'Mês'|trans }} <span class="glyphicon form-control-feedback" aria-hidden="true"></span></label>
                                                <select id="month" class="form-control" data-encrypted-name="expiryMonth" data-error="{{ 'Preencha o mês.'|trans }}" required>
                                                    <option value="">{{ 'Mês'|trans }}</option>
                                                    {% for month in range(1, 12) %}
                                                        <option value="{{ month }}">{{ month }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group has-feedback">
                                                <label for="year" class="control-label help-block ">{{ 'Ano'|trans }} <span class="glyphicon form-control-feedback" aria-hidden="true"></span></label>
                                                <select id="year" class="form-control" data-encrypted-name="expiryYear" data-error="{{ 'Preencha o ano.'|trans }}" required>
                                                    <option value="">{{ 'Ano'|trans }}</option>
                                                    {% for year in range('now'|date('Y'), 2041) %}
                                                        <option value="{{ year }}">{{ year }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group has-feedback">
                                                <label for="ccv" class="control-label help-block ">{{ 'CCV'|trans }} <span class="glyphicon form-control-feedback" aria-hidden="true"></span></label>
                                                <input id="ccv" type="number" class="form-control" placeholder="{{ 'CCV'|trans }}" size="5" maxlength="3" data-encrypted-name="cvc" required data-error="{{ 'Preencha o CCV'|trans }}" data-minlength="3"/>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 pad-adjust">
                                            <div class="form-group has-feedback">
                                                <label for="name" class="control-label help-block ">{{ 'Nome do titular'|trans }} <span class="glyphicon form-control-feedback" aria-hidden="true"></span></label>
                                                <input id="name" type="text" class="form-control" size="20" placeholder="{{ 'Nome do titular'|trans }}" data-encrypted-name="holderName" required data-error="{{ 'Preencha o campo Nome do titular'|trans }}"/>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top: 20px " class="row">
                                        <div class="col-xs-6">
                                            <input type="submit" class="btn btn-danger" value="{{ 'CANCELAR'|trans }}" />
                                        </div>
                                        <div class="col-xs-5">
                                            <input id="adyen_submit" type="submit" class="btn btn-warning btn-block" value="{{ 'PAGAR'|trans }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CREDIT CARD DIV END -->
                    </div>
                </div>
                <input type="hidden" value="{{ generationTime }}" data-encrypted-name="generationtime"/>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ library_url }}"></script>
    <script>
        // The form element to encrypt.
        var form = document.getElementById('adyen-encrypted-form');
        // See https://github.com/Adyen/CSE-JS/blob/master/Options.md for details on the options to use.
        var options = {"enableValidations": false};
        options.onsubmit = function(e){
            $("#adyen_submit").prop('disabled',true);
        };
        // Bind encryption options to the form.
        adyen.createEncryptedForm(form, options);
    </script>


{% endblock %}
