{% extends 'new_base.twig' %}

{% block metaTitle %}{{metaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}


    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Confirmação de Encomenda'|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-payment"><h3><i class="pf pf-visa"></i> <i class="pf pf-mastercard-alt"></i> {{ 'Pagamento efectuado com sucesso'|trans }}</h3></div>
        <div class="thankyou">
            <p>{{ 'Caro Membro,'|trans }}</p>
            <p>{{ 'Obrigado pela sua compra.'|trans }}</p>
            <p>{{ 'O seu pagamento foi efectuado com sucesso.'|trans }}</p>
        </div>
    </div>

{% endblock %}
