<select class="form-control" id="contact-subject" name="assunto">
    <option value="5">{{ 'Sugestão'|trans }}</option>
    <option value="4">{{ 'Informação de Encomendas'|trans }}</option>
    <option value="3">{{ 'Informação Geral'|trans }}</option>
    <option value="84">{{ 'Informação Produto'|trans }}</option>
    <option value="85">{{ 'Trocas / Devoluções'|trans }}</option>
    <option value="86">{{ 'Desistência de Encomenda'|trans }}</option>
    <option value="87">{{ 'Problemas de Pagamentos'|trans }}</option>
</select>
