{% if dataLayer is defined %}
    <script language="Javascript">
    $( document  ).ready(function(){
        if(dataLayer){
            {% for item in dataLayer.getDataLayer %}
            dataLayer.push({{ item | json_encode | raw }});
            {% endfor %}

            {{ dataLayer.clearDataLayer() }}
        }
    }); 
    </script>
{% endif %}
