{% extends "new_base.twig" %}

{% block metaTitle %}{{metatitle}}{% endblock %}

{% block content %}
    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Pagamento duplicado'|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>{{ 'Caro membro,'|trans }}</p>
                <p>{{ 'Detectámos que a encomenda que está a tentar pagar ( Nº %cart_id% ), já está paga.'|trans({'%cart_id%': cart_id}) }}</p>
                <p>{{ 'Pode consultar os detalhes desta encomenda na sua <b><a href="%url%">Conta Membro</a></b>.'|trans({'%url%': url('area-pessoal')})|raw }}</p>
                <p>{{ 'Caso entenda existir algum problema com esta situação, poderá entrar em contacto connosco através da <a href="%url%">área de contactos</a> ou pela janela de chat.'|trans({'%url%': url('contacto')})|raw }}</p>
                <p>{{ 'Cumprimentos,'|trans }}</p>
                <p>{{ 'A Equipa ClubeFashion'|trans }}</p>

                <div class="content" style="text-align: center">
                    <a href="/" class="btn btn-primary">{{ 'Continuar'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
