{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Confirmação de Encomenda'|trans }}</div>
        </div>
    </div>
    {% if error is defined %}
        {{error}}
    {% else %}
        {% if success %}
    <div class="home-content results-content page-wrapper">
        <div class="block-title-payment"><h3><i class="fa fa-tag"></i> {{ 'Encomenda Gratuita'|trans }}</h3></div>
        <div class="thankyou">
            <p>{{ 'Caro Membro,'|trans }}</p>
            <p>{{ 'Obrigado pela sua compra.'|trans }}</p>
            <p>{{ 'A sua encomenda será automaticamente processada e irá receber um e-mail com a confirmação da sua encomenda. Caso não encontre o email, verifique também a sua caixa SPAM e adicione o nosso email à sua lista de endereços.'|trans }}</p>

            <p>{{ 'Cumprimentos e excelentes compras,'|trans }}</p>
            <p>{{ 'A Equipa <strong>O meu Colchão</strong>'|trans|raw }}</p>
        </div>
    </div>
        {% endif %}
    {% endif %}


{% endblock %}
	
