{% include 'emails/header.twig' %}

<p>{{ "Foi feito um pedido de contacto:"|trans }}</p>
<b>Nome:</b> {{ name }}<br/>
<b>Telefone de contacto:</b> {{ phone }}<br/>


{% include 'emails/footer.twig' %}
