{% include 'emails/header.twig' %}

<p>{{ "Olá"|trans }} {{ username }},</p>
<p> {{ "Lembramos que deixou artigos no seu carrinho de compras:"|trans }} </p>
<p>
{% include 'cart_detail.twig' %}
</p>
<p>{{ "Não deixe escapar esta oferta!"|trans }}</p>
<br><br>
<p align="center">
<a style="text-decoration:none;padding:20px 20px 15px 20px;background:#009900;" href="{{ url('recover-cart', {'cart_hash':cart.cart_hash,'autologin':sson}) }}"><font color="#FFFFFF" face="Verdana, sans-serif" size="5">{{ "finalizar compra"|trans }} > </font></a>
</p>
<br />
<br /{{ "Melhores cumprimentos e excelentes compras,"|trans }}>
<br /{{ "A equipa O meu Colchão"|trans }}>

{% include 'emails/footer.twig' %}
