{% include 'emails/header.twig' %}

<p>{{ "Foi enviado um novo contacto através do site:"|trans }}</p>
<b>{{ "Email de contacto:"|trans }}</b> {{ from_email }}</br>
<b>{{ "Telefone de contacto:"|trans }}</b> {{ from_phone }}</br>
<b>{{ "Mensagem:"|trans }}</b> {{ message|raw }}</br>
<br /><br />
<br /{{ "Melhores cumprimentos e excelentes compras,"|trans }}>
<br /{{ "A equipa O meu Colchão"|trans }}>

{% include 'emails/footer.twig' %}
