<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{{ "O meu Colchão"|trans }} - {{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="margin:0px; background-color:#EDEDED">
<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td width="100%" align="left" valign="top"><img src='https://staging.omeucolchao.pt/images/email/header.png'></td>
    </tr>
    <tr>
        <td rowspan="2" width="90%" align="left" valign="top" style="background-color: white; padding: 10px; font-family: Verdana, Tahoma, sans-serif; font-size: 11px; color: #000;">
            {% if title is defined and title %}
            <div id="message_title" style="font-family: Tahoma, Verdana, sans-serif; font-size: 14px; color: #000; padding-left: 15px;"><strong>{{ title }}</strong></div>
            {% endif %}
            <div id="message" style=" padding-left: 15px; padding-right: 15px; font-family: Verdana, Tahoma, sans-serif; font-size: 12px; color: #000;">
