{% include 'emails/header.twig' %}

<p>Caro Membro,</p>
<p>O seu pedido foi recebido com sucesso! Garanta a sua encomenda procedendo ao pagamento, no prazo máximo de 48 horas, no MULTIBANCO mais próximo ou através do seu HOMEBANKING!</p>
<p>
<p>Confira abaixo os elementos a pagar:</p>
{% if cart_shipping > 0 %}
    <p>Portes: {{ cart_shipping }}&euro;</p>
{% endif %}
<p>
{% include 'cart_detail.twig' %}
</p>
<p>Realize o pagamento e garanta já esta oportunidade!</p>
{% include('/payments/mb_detail.twig') %}
<br />
<br />Melhores cumprimentos e excelentes compras,
<br />A equipa O meu Colchão

{% include 'emails/footer.twig' %}
