{% include 'emails/header.twig' %}

<p>Olá {{ username }},</p>
<p><strong>A sua encomenda está prestes a expirar!</strong></p>
<p> Não deixe passar a oportunidade e use os dados de pagamento abaixo para receber a sua encomenda.</p> 
<p>
{% include 'cart_detail.twig' %}
</p>
<p>Utilize os seguintes dados para pagar no seu Multibanco mais próximo ou no seu Homebanking:</p>
{% include '/payments/mb_detail.twig' %}
<br><br>
<br />
<br />Melhores cumprimentos e excelentes compras,
<br />A equipa O meu Colchão

{% include 'emails/footer.twig' %}
