{% include 'emails/header.twig' %}

<p>{{ 'Olá'|trans }} {{ username }},</p>
<p> {{ 'O prazo de pagamento para a sua oferta expirou. A encomenda foi cancelada pelo que já não se encontra a pagamento.'|trans }}</p>
<p>
{% include 'cart_detail.twig' %}
</p>
<br />
<br /{{ 'Melhores cumprimentos e até uma próxima oportunidade,'|trans }}>
<br/>
<br /{{ 'A equipa O meu Colchão'|trans }}>

{% include 'emails/footer.twig' %}
