{% include 'emails/header.twig' %}

<p>{{ 'Caro Membro,'|trans }}</p>
<p><strong>{{ 'O seu pagamento foi recebido com sucesso!'|trans }}</strong></p>
<p>{{ 'Foi lançada em sistema pela equipa OMC uma encomenda em seu nome com o número %cart_id% pelo valor de %total_cost% Euros.'|trans({'%cart_id%': cart_id, '%total_cost%': total_cost}) }}</p>
<p>{{ 'A data prevista de entrega é %delivery_date%, podendo variar +/- 2 dias.'|trans({'%delivery_date%': delivery_date}) }}</p>

<p>{{ 'Confirme em baixo os produtos e os dados de entrega:'|trans }}</p>
<p>{{ 'Nome:'|trans }} {{ name }}</br>
{{ 'Morada:'|trans }} {{ addr_street }}, {{ addr_street2 }}, {{ addr_cp1 }}-{{ addr_cp2 }}, {{ addr_city }}
</br>
{% if cart_shipping > 0 %}
<p>{{ 'Portes:'|trans }} {{ cart_shipping }}&euro;</p>
{% endif %}
<p>
{% include 'cart_detail.twig' %}
</p>
</br>
<p>{{ 'Será notificado por e-mail assim que a sua encomenda for expedida.'|trans }}</p>

<p>{{ 'Não perca a nossa oferta de colchões aos melhores preços e surpreenda-se com as novidades que vamos tendo para si.'|trans }}</p>

<p>{{ 'Sempre que necessitar não hesite em contactar-nos, através da área de contatos disponível em <a href="https://%static_path%/contacto/">https://%static_path%/contacto/</a> , live chat presente no site ou através da nossa linha direta %phone%.'|trans({'%static_path%': static_path, '%phone%': telephone})|raw }}</p>

<br /{{ 'Melhores cumprimentos e excelentes compras,'|trans }}>
<br /{{ 'A equipa O meu Colchão'|trans }}>

{% include 'emails/footer.twig' %}
