{% include 'emails/header.twig' %}

{{ 'Caro Membro,'|trans }}
<br /><br />{{ 'A sua nova password foi emitida com sucesso:'|trans }} <span style="color: #1e7483;"><b>{{ password }}</b></span>
<br />{{ 'Pode agora modificá-la, bem como completar ou alterar os seus dados, através do link:'|trans }} <a href="{{ url('area-pessoal') }}?autologin={{ sson }}" style="color: #1e7483; text-decoration: underline;">{{ 'Alterar dados'|trans }}</a>.
<br />
<br />
<br /><br />
<br /{{ 'Melhores cumprimentos e excelentes compras,'|trans }}>
<br /{{ 'A equipa O meu Colchão'|trans }}>

{% include 'emails/footer.twig' %}
