{% include 'emails/header.twig' %}

{{ 'Caro Membro,'|trans }}<br /><br />
{{ 'Bem-vindo ao O meu Colchão, um site de oportunidades em colchões onde a sua satisfação é a nossa  prioridade.'|trans }}

{% if password is defined %}
<br />
{{ 'Confirmamos o seu registo no nosso site '|trans }}<a href="{{ url('homepage') }}" style="color: #EA0000; text-decoration: underline;">{{ url('homepage') }}</a{{ ' com os seguintes dados de acesso:'|trans }}>
<br /><br />
<strong>{{ 'Utilizador:'|trans }}</strong> <a href="{{ url('homepage', {'autologin': '123'}) }}" style="color: #000; text-decoration: none;">{{ username }}</a>
<br />
<strong>Password:</strong> <span style="color: #000">{{ password }}</span>
{% endif %}
<br /><br />

{{ 'Ao registar-se no '|trans }}<a href="{{ url('homepage') }}" style="color: #EA0000; text-decoration: underline;">{{ url('homepage') }}</a{{ ' ficou também inscrito na nossa Newsletter onde poderá consultar sempre as nossas novidades em primeira mão e conhecer as campanhas promocionais.'|trans }}>
<br /><br />
<br /> {{ 'Pode completar e alterar os seus dados a qualquer momento através da sua'|trans }} <a href="{{ url('area-pessoal',{ 'autologin': sson} ) }}" style="color: #EA0000; text-decoration: none;"><b>{{ 'Conta de Membro'|trans }}</b></a>.
<br />
<br />
{{ 'Sempre que necessitar não hesite em contactar-nos, através do site, em Informações,'|trans }} <a href="{{ url('contacto',{'autologin': sson}) }}" style="color: #EA0000; text-decoration: none;">{{ 'Contactos'|trans }}</a>.
<br/>
<br/>
<br/>
{{ 'Melhores cumprimentos e excelentes compras,'|trans }}<br/>
<br/>
{{ 'A Equipa O meu Colchão'|trans }}

{% include 'emails/footer.twig' %}
