<div class="col-sm-4 article">
    {#<div class="discount-ball">
        -{{ article.discount }}%
    </div>#}
    <a class="article-link article-report" href="/produtos/{{article.url_title|escape("url")}}" data-title={{ article.title | json_encode | raw }} data-id="{{ article.id }}" data-price="{{ article.start_price }}"><div class="prod-img" style="background:url('{{ asset(article.main_image.image_url) }}?{{article.main_image.cache_buster}}') center center; background-size:cover;"></div></a>
    <table style="width: 100%">
        <tbody>
            <tr>
                <td style="border-right: 10px solid white; width: 66%">
                    <h4 style="font-size: 16px; height: 37px; overflow: hidden; margin-bottom:0px">{{ article.title }} <span style="font-size: 14px; color: #777">by {{ article.brand }}</span></h4>
                </td>
                <td style="text-align: center">
                    <div style="border: 2px solid #1e7483; color: #1e7483; width:50px; padding:5px 0; margin: 0 auto; font-weight: bolder; font-size: 14px" class="prod-discount">
                        -{{ article.discount is defined ? article.discount : 0 }}%
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border-right: 10px solid white">
                    {% for key,cha in article.characteristics %}
                        {% set image = cha.image %}
                        {% if key == 0 %} 
                            {% set image = article.deep ~ cha.image %}
                        {% endif %}
                        <img style="max-width:50px" title="{{ cha.title }}" src="/images/mattress_icons/{{ image }}"
                            data-toggle="tooltip" data-placement="top">
                    {% endfor %}
                </td>
                <td style="text-align: center">
                    <h5 style='margin-top: 5px; margin-bottom: 5px' class="prod-original" style="margin: 5px; color: #777"><s>{% if article.option_id is defined %}{{ article.option_original_price }}{% else %}{{ article.start_price }}&euro;{% endif %}</s></h5>
                    <h3 class="prod-price" style="margin-top:0px; font-size: 35px">{% if article.option_id is defined %}{{ article.option_price }}{% else %}{{ article.start_price }}{% endif %}&euro;</h3>
                </td>
            </tr>
            <tr>
                <td style="border-right: 10px solid white">
                    <select class="form-control option-selector">
                        <option value="" disabled selected>{{ 'Tamanho'|trans }}</option>
                        {% for option in article.options %}
                            <option value="{{ option.size }}" data-stockid="{{ option.id  }}" data-originalprice="{{ option.original_price }}" data-price="{{ option.price }}" {% if article.option_id is defined and article.option_id == option.id %}selected{%endif%}>{{ option.size }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {% set url = url('produtos',{url_title: article.url_title }) %}
                    <a  href="{{ url }}">
                        <button class="btn prod-buy list" style="width: 100%" data-title={{ article.title | json_encode | raw  }} data-id="{{ article.id  }}" data-price="{{ article.start_price  }}" {% if article.option_id is defined %} article="{{ article.option_id }}"{% endif %}>{{ 'Comprar'|trans }}</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script language="Javascript">
$( document  ).ready(function(){
    if(dataLayer){
        dataLayer.push( {
            event: 'productList',
            ecommerce: {
                impressions: [
                    {
                        name: {{ article.title|json_encode|raw }},
                        id: '{{ article.id }}',
                        price: '{{ article.start_price }}'
                    }
                ]
            }
        });
    }
}); 
</script>
