<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block pageTitle %}{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bo/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Select 2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
  <!-- BO style -->
  <link rel="stylesheet" href="/bo/dist/css/OMC_BO.min.css">
  <link rel="stylesheet" href="/bo/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="/css/bo_style.css?{{random(999)}}">
  <!-- Morris chart -->
  <link rel="stylesheet" href="/bo/plugins/morris/morris.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <style>
        .mdls-overlay{
            background:rgba(255,255,255,0.8);
            position:fixed;
            width:100%;
            height:100%;
            z-index:2000;
            display:none;
        }
        .modals-box{
            background:#FFF;
            border:1px solid #CCC;
            border-radius:5px;
            width:30%;
            margin:10% auto;
            overflow:hidden;
            display:none;
        }
        .modals-top{
            padding:20px;
            font-size:20px;
            overflow:hidden;
            text-transform:uppercase;
        }
        .modals-title{
            float:left;
        }
        .modals-close{
            cursor:pointer;
        }
        .modals-content{
            padding:20px;
        }
        .modals-footer{
            padding:20px;
        }
    </style>
    {% block customhead %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="mdls-overlay">
        <div class="modals-box" id="upload-box">
            <div class="modals-top">
                <div class="modals-title">Carregamento de Produtos</div><span class="modals-close fa fa-times pull-right" id="close-upload"></span>
            </div>
            <div class="modals-content">
                <form action="/backoffice/load-csv/" method="post" id="upload-products"  enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="locale-upload">Escolha a língua</label>
                        </div>
                        <div class="col-md-4">
                        <select name="locale" class="form-control">
                            {% for locale in locales %}
                                <option value="{{locale}}" {% if app.session.get('locale') == locale %}selected{% endif %}>{{ locale|upper }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <input type="file" accept=".csv" class="fileUpload" id="csv_import" name="csv_import" />
                    <input type="submit" value="CARREGAR" id="submit-upload" class="btn btn-sm btn-success btn-flat pull-right"><br>
                </form>
                <p><b>Antes de importar o csv veja o <a href="/bo/guia_caracteristicas.html" target="_blank">guia das características dos colchões</a></p>
            </div>
        </div>
        <div class="modals-box" id="zip-box">
            <div class="modals-top">
                <div class="modals-title">Carregamento de Imagens (ZIP)</div><span class="modals-close fa fa-times pull-right" id="close-zip"></span>
            </div>
            <div class="modals-content">
                <p>
                <ul>
                    <li>Dentro do zip, deverá existir uma pasta para cada produto, cujo nome deverá ser igual à referência (STKxxxx)</li>
                    <li>Dentro de cada uma dessas pastas, deverá existir um img_main.jpg, com 555x428, que será a imagem principal - utilizada só na homepage</li>
                    <li>As restantes deverão ter o nome img_1.jpg, img_2.jpg, etc.. e uma dimensão de 855x300</li>
                </ul>
                </p>
                <form action="/backoffice/load-zip/" method="post" id="upload-zip"  enctype="multipart/form-data">
                    <input type="file" accept=".zip" class="fileUpload" id="zip_import" name="zip_import" />
                </form>
            </div>
            <div class="modals-footer">
                <a id="submit-zip" class="btn btn-sm btn-success btn-flat pull-right">CARREGAR</a><br>
            </div>
        </div>
    </div>
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/backoffice/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>OMC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>O meu Colchão</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Não tem mensagens</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                 
                </ul>
              </li>
              <li class="footer">
                  <!-- <a href="#">Ver Todas</a> -->
              </li>
            </ul>
          </li>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Não tem notificações</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  
                </ul>
              </li>
              <li class="footer">
                 <!-- <a href="#">Ver Todas</a> -->
                </li>
            </ul>
          </li>
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Não tem tarefas</li>
              <li>
                  <ul class="menu">
                  </ul>
              </li>
              <li class="footer">
                  <!-- <a href="#">Ver Todas</a> -->
              </li>
            </ul>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              
              <span class="hidden-xs"><i class="fa fa-user-circle-o"></i> {{ user['nome'] }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p style="color:#FFF; font-size:60px;"><i class="fa fa-user-circle-o"></i></p>

                <p>
                  {{ user['nome'] }} - {{ user['job'] }}
                  <small>Utilizador desde Janeiro 2017</small>
                  <small>[{{ user['roles'] | join(',') }}]</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a id="logout-btn" href="/backoffice/sair/" class="btn btn-default btn-flat">Sair</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <p style="color:#FFF; font-size:35px;"><i class="fa fa-user-circle-o"></i></p>
        </div>
        <div class="pull-left info">
          <p>{{ user['nome'] }}</p>
          <a><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <li class="{% if DashActive is defined %}{{DashActive}}{% endif %}">
          <a href="/backoffice/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        {% if "CONTENT" in user['roles'] %}
        <li class="{% if ProductActive is defined %}{{ProductActive}}{% endif %}">
          <a href="/backoffice/produtos/">
            <i class="fa fa-tags"></i> <span>Produtos</span>
          </a>
        </li>
        {% endif %}
        {% if "ACCOUNTING" in user['roles'] %}
        <li class="{% if SalesActive is defined %}{{SalesActive}}{% endif %}">
          <a href="/backoffice/encomendas/">
            <i class="fa fa-shopping-bag"></i> <span>Encomendas</span>
          </a>
        </li>
        {% endif %}
        {% if "ACCOUNTING" in user['roles'] %}
        <li class="{% if MemberActive is defined %}{{MemberActive}}{% endif %}">
          <a href="/backoffice/membros/">
            <i class="fa fa-users"></i> <span>Membros</span>
          </a>
        </li>
        {% endif %}
        {% if "COMERCIAL" in user['roles'] %}
        <li class="{% if PromoActive is defined %}{{PromoActive}}{% endif %}">
          <a href="/backoffice/promocodes/">
            <i class="fa fa-star"></i> <span>Promo Codes</span>
          </a>
        </li>
        {% endif %}
        {% if "ACCOUNTING" in user['roles'] %}
        <li class="{% if AccountActive is defined %}{{AccountActive}}{% endif %}">
          <a href="/backoffice/contabilidade/">
            <i class="fa fa-calculator "></i> <span>Contabilidade</span>
          </a>
        </li>
        {% endif %}
        {% if "CONTENT" in user['roles'] %}
        <li class="{% if SlideActive is defined %}{{SlideActive}}{% endif %}">
          <a href="/backoffice/slideshow/">
            <i class="fa fa-slideshare"></i> <span>SlideShow</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

    {% block content %}{% endblock %}
    
    <h1>asdasdasd</h1>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versão</b> 1.0.0
    </div>
    <strong>Copyright &copy; {{CurrentYear}} OmeuColchao.pt.</strong> Todos os direitos reservados.
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="/bo/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bo/bootstrap/js/bootstrap.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="/bo/plugins/chartjs/Chart.min.js"></script>
<!-- Select 2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/pt.js"></script>
<!-- OMC_BO App -->
<script src="/bo/dist/js/app.js"></script>
    
    {% block customscripts %}{% endblock %}

</body>
</html>
