{% extends 'bo_base.twig' %}

{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block customhead %}
    <!-- DataTables -->
  <link rel="stylesheet" href="/bo/plugins/datatables/dataTables.bootstrap.css">
<!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/bo/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="/bo/plugins/iCheck/all.css">
<style>
.img-container{
    width:100%;
    height:170px;
    border:1px solid #CCC;
    font-size:100px;
    text-align:center;
    margin-bottom:10px;
}
.img-container img{
     width:80%;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.tab-pane{
    padding-top:20px;
    padding-bottom:20px;
}
.twitter-typeahead{
    width:100%;
    padding-bottom:15px;
}
.typeahead, .tt-query, .tt-hint {
    width: 100%;
    outline: none;
}
.tt-menu, .tt-open{
    background:#FFF;
    box-shadow: 2px 2px 6px #222;
    width:100%;
    top:auto!important;
}
.tt-suggestion, .tt-selectable{
    padding:10px;
}
.tt-suggestion:hover, .tt-selectable:hover{
    cursor:pointer;
    background:#3c8dbc;
    color:#FFF;
}
</style>
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Novo Produto
        <small>Painel de Controlo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/backoffice/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/backoffice/produtos/"><i class="fa fa-tags"></i> Produtos</a></li>
        <li class="active">Novo Produto</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Novo Produto</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Informação Geral</a></li>
              <li><a href="#tab_2" data-toggle="tab">Detalhes do Produto</a></li>
              <li><a href="#tab_3" data-toggle="tab">Opções do Produto</a></li>
              <li><a href="#tab_4" data-toggle="tab">Imagens do Produto</a></li>
            </ul>
            <form id="product-form" action="/backoffice/add-new-product/" method="post" enctype="multipart/form-data">
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="row">
                  <div class="col-md-6">
                      <label for="main_stk">STK Principal</label>
                      <input class="form-control" type="text" id="main_stk" name="main_stk"><br>
                      <label>Tipo de Produto</label>
                      <select class="form-control" id="p_type" name="p_type">
                          <option value="colchao">Colchão</option>
                          <option disabled>Almofadas</option>
                          <option disabled>Edredons</option>
                      </select><br>
                      <label>Tipo de Colchão</label>
                      <select class="form-control" id="p_mattress" name="p_mattress">
                          <option value="molas">Molas</option>
                          <option value="molas_ensacadas">Molas Ensacadas</option>
                          <option value="agua">Água</option>
                          <option value="hr">HR</option>
                          <option value="latex">Látex</option>
                          <option value="visco_elastico">Viscoelástico</option>
                          <option value="bebe">Bebé</option>
                          <option value="molas_bonell">Molas Bonnell</option>
                          <option value="bultex">Bultex</option>
                          <option value="confortcel">Confortcel</option>
                          <option value="airvex">Airvex</option>
                      </select><br>
                      <label for="p_brand">Marca</label>
                      <input class="form-control typeahead" type="text" id="p_brand" name="p_brand"><br>
                      <label for="p_title">Titulo</label>
                      <input class="form-control" type="text" id="p_title" name="p_title"><br>
                      <div class="col-md-4">
                            <label for="p_ship_mainland">Envio para Continente (€)</label>
                            <input class="form-control" type="text" id="p_ship_mainland" name="p_ship_mainland"><br>
                      </div>
                      <div class="col-md-4">
                            <label for="p_ship_islands">Envio para Ilhas (€)</label>
                            <input class="form-control" type="text" id="p_ship_islands" name="p_ship_islands"><br>
                      </div>
                      <div class="col-md-4">
                            <label for="expedition_time">Dias úteis p/ expedição</label>
                            <input class="form-control" type="text" id="expedition_time" name="expedition_time"><br>
                      </div>
                      <div class="col-md-6">
                            <label>
                            Aparece nas Promoções<br>
                            <input type="hidden" name="p_is_promo" value="0">
                            <input type="checkbox" name="p_is_promo" value="1" class="flat-red">
                            </label>
                      </div>
                      <div class="col-md-6">
                            <label>
                            Aparece nos Top Sellers<br>
                            <input type="hidden" name="p_is_top_seller" value="0">
                            <input type="checkbox" name="p_is_top_seller" value="1" class="flat-red">
                            </label>
                      </div>
                      <div class="col-md-6">
                            <label>
                            Mercadoria Externa<br>
                            <input type="hidden" name="p_is_ext" value="0">
                            <input type="checkbox" name="p_is_ext" value="1" class="flat-red">
                            </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Altura</label>
                      <select class="form-control" id="p_deep" name="p_deep">
                          <option value="13">13cm</option>
                          <option value="14">14cm</option>
                          <option value="15">15cm</option>
                          <option value="16">16cm</option>
                          <option value="17">17cm</option>
                          <option value="18">18cm</option>
                          <option value="19">19cm</option>
                          <option value="20">20cm</option>
                          <option value="21">21cm</option>
                          <option value="22">22cm</option>
                          <option value="23">23cm</option>
                          <option value="24">24cm</option>
                          <option value="25">25cm</option>
                          <option value="26">26cm</option>
                          <option value="27">27cm</option>
                          <option value="28">28cm</option>
                          <option value="29">29cm</option>
                          <option value="30">30cm</option>
                      </select><br>
                      <label>Firmeza</label>
                      <select class="form-control" id="p_level" name="p_level">
                          <option value="1">Pouco Firme</option>
                          <option value="2">Médio</option>
                          <option value="3">Firme</option>
                          <option value="4">Muito Firme</option>
                      </select><br>
                      <label>Estado</label>
                      <select class="form-control" id="p_status" name="p_status">
                          <option value="1">Activado</option>
                          <option value="0">Desactivado</option>
                      </select><br>
                  </div>
                  </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <div class="row">
                  <div class="col-md-12">
                    <div class="box-body pad">
                        <label>Descrição</label>
                        <textarea class="textarea" placeholder="Escreve a descrição do produto" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" id="p_description" name="p_description"></textarea>
                    </div>
                    <div class="box-body pad">
                        <label>Condições</label>
                        <textarea class="textarea" placeholder="Escreve as condições do produto" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" id="p_conditions" name="p_conditions"></textarea>
                    </div>
                    <div class="box-body pad">
                        <label>Detalhes</label>
                        <textarea class="textarea" placeholder="Escreve os detalhes do produto" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" id="p_details" name="p_details"></textarea>
                    </div>
                  </div>
                  </div>
              </div>
              <!-- /.tab-pane -->
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                    <table class="controls">
                        <tbody>
                            <tr class="p_option">
                                <input type="hidden" name="opt_id[]" value="{% if option is defined %}{{option.id}}{% endif %}">
                                <td>
                                    <label for="p_stk">Ref. STK</label>
                                    <input class="form-control" placeholder="" id="p_stk" type="text" name="p_stk[]" value="{% if option is defined %}{{option.stk}}{% endif %}">
                                </td>
                                <td>
                                    <label for="p_height">Comprimento</label>
                                    <input class="form-control" placeholder="" id="p_height" type="text" name="p_height[]" value="{% if option is defined %}{{option.height}}{% endif %}">
                                </td>
                                <td>
                                    <label for="p_width">Largura</label>
                                    <input class="form-control" placeholder="" id="p_width" type="text" name="p_width[]" value="{% if option is defined %}{{option.width}}{% endif %}">
                                </td>
                                <td>
                                    <label for="p_cost">Custo S/IVA (€)</label>
                                    <input class="form-control" placeholder="" id="p_cost" name="p_cost[]" type="text" value="{% if option is defined %}{{option.cost}}{% endif %}">
                                </td>
                                <td>
                                    <label for="p_original_price">Preço Original (€)</label>
                                    <input class="form-control" placeholder="" id="p_original_price" name="p_original_price[]" type="text" value="{% if option is defined %}{{option.original_price}}{% endif %}">
                                </td>
                                <td>
                                    <label for="p_price">Preço (€)</label>
                                    <input class="form-control" placeholder="" id="p_price" type="text" name="p_price[]" value="{% if option is defined %}{{option.price}}{% endif %}">
                                </td>
                                <td>
                                    <label for="p_stock">Stock Disponível</label>
                                    <input class="form-control" placeholder="" id="p_stock" type="text" name="p_stock[]" value="{% if option is defined %}{{option.stock}}{% endif %}">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-add" style="margin-top:4px;">
                                        <span class="fa fa-plus" aria-hidden="true"></span> Adicionar opção
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
              </div>
              <!-- /.tab-pane -->
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_4">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="img-title"><h4>Imagem Principal</h4></div>
                          <div class="img-container" id="img-preview-1"><i class="fa fa-picture-o"></i></div>
                          <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="p_img_main" name="p_img_main" />
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="img-title"><h4>Imagem 2</h4></div>
                          <div class="img-container" id="img-preview-2"><i class="fa fa-picture-o"></i></div>
                          <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="p_img_2" name="p_img_2"/>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="img-title"><h4>Imagem 3</h4></div>
                          <div class="img-container" id="img-preview-3"><i class="fa fa-picture-o"></i></div>
                          <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="p_img_3" name="p_img_3"/>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="img-title"><h4>Imagem 4</h4></div>
                          <div class="img-container" id="img-preview-4"><i class="fa fa-picture-o"></i></div>
                          <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="p_img_4" name="p_img_4"/>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="img-title"><h4>Imagem 5</h4></div>
                          <div class="img-container" id="img-preview-5"><i class="fa fa-picture-o"></i></div>
                          <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="p_img_5" name="p_img_5"/>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="img-title"><h4>Imagem 6</h4></div>
                          <div class="img-container" id="img-preview-6"><i class="fa fa-picture-o"></i></div>
                          <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="p_img_6" name="p_img_6"/>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /.tab-pane -->
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <input type="submit" id="product-form-btn" value="Guardar" class="btn btn-sm btn-success btn-flat">&nbsp;
                        <a href="/backoffice/produtos/" class="btn btn-sm btn-danger btn-flat">Cancelar</a>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
              </form>
          </div>
          <!-- nav-tabs-custom -->
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block customscripts %}
        {% include 'bo_edit_product_scripts.twig' %}
{% endblock %}
