{% extends 'bo_base.twig' %}

{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block customhead %}
    <!-- DataTables -->
  <link rel="stylesheet" href="/bo/plugins/datatables/dataTables.bootstrap.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/bo/plugins/datepicker/datepicker3.css">
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Promo Code
        <small>Painel de Controlo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/backoffice/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/backoffice/promocodes/"><i class="fa fa-star"></i> Promo Codes</a></li>
        <li class="active">Criar Promo Code</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Criar Promo Code</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <form id="edit-promo" action="/backoffice/newpromo/" method="post">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="pcode">Código</label>
                <input class="form-control" id="code" name="code" placeholder="" type="text">
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="total_limit">Limite Total de Utilizações</label>
                <input class="form-control" id="limit_total" name="limit_total" placeholder="" type="text">
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="member_limit">Limite de Utilizações por Membro</label>
                <input class="form-control" id="user_limit" name="user_limit" placeholder="" type="text">
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="locale">Lingua</label>
                <select name="locale" id="locale" class="form-control">
                    {% for locale in locales %}
                        <option value="{{locale}}">{{ locale|upper }}</option>
                    {% endfor %}
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label>Data Início</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="start_date" name="start_date">
                </div>
            </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label>Data Fim</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right"  id="end_date" name="end_date">
                </div>
            </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>Tipo de Desconto</label>
                <select class="form-control" name="type" id="type">
                    <option value="">...</option>
                    <option value="VALUE">Valor (€)</option>
                    <option value="PERCENT">Percentagem (%)</option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="value">Valor</label>
                <input class="form-control" id="value" name="value" placeholder="" type="text">
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="user_id">ID Membro</label>
                <input class="form-control" id="user_id" name="user_id" placeholder="" type="text">
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="user_id">Compra Mínima (€)</label>
                <input class="form-control" id="min_buy" name="min_buy" placeholder="" type="text">
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>Estado</label>
                <select class="form-control" name="status" id="status">
                    <option value="ACTIVE">Activo</option>
                    <option value="INACTIVE">Desactivado</option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
              </form>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        
        <br><br>
        <div id="error-response"></div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="pull-right">
                <a id="save-promo-btn" class="btn btn-sm btn-success btn-flat">Guardar</a>&nbsp;
                <a href="/backoffice/promocodes/" class="btn btn-sm btn-danger btn-flat">Cancelar</a>
            </div>
        </div>
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block customscripts %}
        {% include 'bo_edit_promo_scripts.twig' %}
{% endblock %}
