<!-- DataTables -->
<script src="/bo/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/bo/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    //$("#example1").DataTable();

    $('#p-locale-select').change(function() {
        $('#p-locale-form').submit();
    });

    $('#product-filter-btn').click(function(){
        $('#product-filter').submit(); 
    });

    $(document).keypress(function(e) {
        if (e.keyCode == '13') {
            $('#product-filter-btn').click();
        }
    });

    $('#filter-remove').click(function(){
        $('#parent_id').val('');
        $('#product_id').val('');
        $('#p_title').val('');
        $('#stk').val('');
        $('#product-filter').submit();
    });

    $('#upload-csv-btn').click(function(){
        $('#upload-box').show();
        $('.mdls-overlay').show();
    });

    $('#close-upload').click(function(){
        $('#upload-box').hide();
        $('.mdls-overlay').hide();
    });

    $('#upload-zip-btn').click(function(){
        $('#zip-box').show();
        $('.mdls-overlay').show();
    });

    $('#close-zip').click(function(){
        $('#zip-box').hide();
        $('.mdls-overlay').hide();
    });
      
    $('#submit-zip').click(function(){
        var formData = new FormData($('#upload-zip')[0]);
        
        $.ajax({   
            type: "POST",
            url: $('#upload-zip').attr("action"),
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

                if( data.status == false) {
                    alert(data.message);
                } else {
                    window.location = "/backoffice/produtos/";
                }

            },
            dataType: "json"
        });  
    });
  });
</script>
