{% extends 'bo_base.twig' %}

{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block customhead %}
    <!-- DataTables -->
  <link rel="stylesheet" href="/bo/plugins/datatables/dataTables.bootstrap.css">
<style>
    #filter-remove{
        margin:10px;
        font-size:12px;
        cursor:pointer;
        line-height:30px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      {% if app.session.flashBag.peek('error')|length == 1 %}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration:none">&times;</a>
            <b>Erro na importação do csv - </b>
            {{ app.session.flashBag.get('error')|first }}
        </div>
      {% elseif app.session.flashBag.peek('success')|length == 1 %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration:none">&times;</a>
            <b>{{ app.session.flashBag.get('success')|first }}</b>
        </div>
      {% endif %}
    <section class="content-header">
      <h1>
        Produtos
        <small>Painel de Controlo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/backoffice/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Produtos</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pesquisa de Produtos</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <form id="product-filter" action="{{url('backoffice-produtos')}}" method="post">
                <div class="col-xs-2">
                  <div class="form-group">
                    <label for="parent_id">Parent ID</label>
                    <input class="form-control" id="parent_id" name="parent_id" placeholder="" type="text" value="{% if parent is defined %}{{parent}}{% endif %}">
                  </div>
                  <!-- /.form-group -->
                </div>
                <div class="col-xs-2">
                  <div class="form-group">
                    <label for="product_id">Product ID</label>
                    <input class="form-control" id="product_id" name="product_id" placeholder="" type="text" value="{% if prodid is defined %}{{prodid}}{% endif %}">
                  </div>
                  <!-- /.form-group -->
                </div>
                <div class="col-xs-2">
                  <div class="form-group">
                    <label for="product_id">Ref. STK</label>
                    <input class="form-control" id="stk" name="stk" placeholder="" type="text" value="{% if stk is defined %}{{stk}}{% endif %}">
                  </div>
                  <!-- /.form-group -->
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <label for="p_title">T&iacute;tulo do Produto</label>
                    <input class="form-control" id="p_title" name="p_title" placeholder="" type="text" value="{% if title is defined %}{{title}}{% endif %}">
                  </div>
                  <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </form>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <a id="product-filter-btn" class="btn btn-sm btn-default btn-flat pull-left">Filtrar</a>
            {% if (parent or prodid or stk or title) %} <a id="filter-remove">Remover Filtros</a> {% endif %}
          <a id="upload-zip-btn" class="btn btn-sm btn-default btn-flat pull-right" style="margin-left:10px;"><i class="fa fa-upload"></i> Carregar Imagens (ZIP)</a>
          <a id="upload-csv-btn" class="btn btn-sm btn-default btn-flat pull-right" style="margin-left:10px;"><i class="fa fa-upload"></i> Carregar Produtos</a>
          <a href="/backoffice/export-csv/" class="btn btn-sm btn-default btn-flat pull-right" style="margin-left:10px;"><i class="fa fa-download"></i> Exportar Produtos</a>
          <a href="/backoffice/produtos/produto/" class="btn btn-sm btn-success btn-flat pull-right"><i class="fa fa-plus"></i> ADICIONAR</a>
        </div>
      </div>
      <!-- /.box -->
        
      <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="box-title">Produtos</h3>
                </div>
                <div class="col-md-2">
                    <form id="p-locale-form" action="{{ url('backoffice-session-locale') }}" method="post">
                        <select class="form-control" style="width:80px" name="p_locale" id="p-locale-select">
                            {% for locale in locales %}
                                <option value="{{locale}}" {% if app.session.get('locale') == locale %}selected{% endif %}>{{ locale|upper }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="redirect_url" value="{{ url('backoffice-produtos') }}">
                    </form>
                </div>
            </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-light-blue"><h6>ID</h6></th>
                        <th class="text-light-blue"><h6>Refª STK</h6></th>
                        <th class="text-light-blue"><h6>Title</h6></th>
                        <th class="text-light-blue"><h6>Preço</h6></th>
                        <th class="text-light-blue"><h6>Altura</h6></th>
                        <th class="text-light-blue"><h6>Largura</h6></th>
                        <th class="text-light-blue"><h6>Firmeza</h6></th>
                        <th class="text-light-blue"><h6>Stock</h6></th>
                        <th class="text-light-blue"><h6>Estado</h6></th>
                    </tr>
                </thead>
                <tbody>
                    {% set no_options = 'opções não carregadas' %}
                    {% for product in products %}
                        <tr>
                            <td class="text-center"><h6><a href="/backoffice/produtos/produto/{{product.id}}">{{product.id}}</a></h6></td>
                            <td class="text-center"><h6>{{product.main_stk}}</h6></td>
                            <td class="text-center"><h6>{{product.title}}</h6></td>
                            <td class="text-center"><h6>{{ product.options[0] is defined ? product.options[0].price ~ '€' : no_options }}</h6></td>
                            <td class="text-center"><h6>{{ product.options[0] is defined ? product.options[0].height      : no_options }}</h6></td>
                            <td class="text-center"><h6>{{ product.options[0] is defined ? product.options[0].width       : no_options }}</h6></td>
                            <td class="text-center"><h6>{{product.level}}</h6></td>
                            <td class="text-center"><h6>{{ product.options[0] is defined ? product.options[0].stock       : no_options }}</h6></td>
                            <td class="text-center"><h6>{% if product.active == 1 %}ACTIVE{% else %}INACTIVE{% endif %}</h6></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th><h6>ID</h6></th>
                        <th><h6>Refª STK</h6></th>
                        <th><h6>Title</h6></th>
                        <th><h6>Preço</h6></th>
                        <th><h6>Altura</h6></th>
                        <th><h6>Largura</h6></th>
                        <th><h6>Firmeza</h6></th>
                        <th><h6>Stock</h6></th>
                        <th><h6>Estado</h6></th>
                    </tr>
                </tfoot>
            </table>
            <shan></shan>
        </div>
        <!-- /.box-body -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block customscripts %}
        {% include 'bo_products_scripts.twig' %}
{% endblock %}
