{% extends 'bo_base.twig' %} {% block pageTitle %}{{PageTitle}}{% endblock %} {% block customhead %}
<!-- DataTables -->
<link rel="stylesheet" href="/bo/plugins/datatables/dataTables.bootstrap.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="/bo/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="/bo/plugins/iCheck/all.css">
<style>
    .img-container {
        width: 100%;
        height: 170px;
        border: 1px solid #CCC;
        font-size: 100px;
        text-align: center;
        margin-bottom: 10px;
          overflow: hidden;
    }

    .img-container img {
        width: 80%;
    }
    
    .thumb-image{
        width: 100%;
    }

    .image-preview-input {
        position: relative;
        overflow: hidden;
        margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .image-preview-input-title {
        margin-left: 2px;
    }

    .tab-pane {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .twitter-typeahead {
        width: 100%;
        padding-bottom: 15px;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        width: 100%;
        outline: none;
    }

    .tt-menu,
    .tt-open {
        background: #FFF;
        box-shadow: 2px 2px 6px #222;
        width: 100%;
        top: auto!important;
    }

    .tt-suggestion,
    .tt-selectable {
        padding: 10px;
    }

    .tt-suggestion:hover,
    .tt-selectable:hover {
        cursor: pointer;
        background: #3c8dbc;
        color: #FFF;
    }

</style>
{% endblock %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            SlideShow
            <small>Painel de Controlo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/backoffice/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Gerir Slides</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Gerir Slides</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
       
                <div class="box-body">
                    <form action="/backoffice/slideshow/update/" method="post" enctype="multipart/form-data">
                    <div class="row">
                        
                        {% set i = 0 %}
                        {% for slide in slides %}
                        
                        <div class="col-md-3">
                            <div class="img-title">
                                <h4>Slide — <i>{{slide.tipo}} - {{slide.locale}}</i></h4>
                            </div>
                            <div class="img-container" id="img-preview-{{i}}"><img src="{{slide.image_url}}"></div>
                            <label class="control-label">Link </label><input  readonly type="url" class="form-control" value="{{slide.link}}" /><br/>
                            <input type="hidden" name="id[{{i}}]" value="{{slide.id}}">
                            {# <input type="number" name="order[{{i}}]" class="form-control" value="{{slide.orderby}}" /> #}
                            <br/>
                            
                      
                            <a href="/backoffice/slideshow/remove/{{slide.id}}" onclick="return confirm('Quer confirmar esta ação? Não será possível recuperar esta informação mais tarde, nem vale a pena vir ao departamento de IT chorar!')" class="btn btn-danger btn-block">REMOVER</a>
                        </div>
                        
                        {% set i = i + 1 %}
                        {% endfor %}
                          
                        
                    </div>
                        <br/>
                        
                            
                          {#   <input type="submit" value="Alterar Ordem" class="btn btn-success"> #}
                          
                           
                            
                               
                            
                           
                        </form>




                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">


                    
                </div>
            </form>
        </div>
        <!-- /.box -->




    </section>
    
        <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Adicionar Slides </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <form id="slideshow-form" action="/backoffice/slideshow-add/" method="post" enctype="multipart/form-data">
                <div class="box-body">

                    <div class="row">
                        <div class="addSlide">
                            <div class="col-md-3">
                                <div class="img-container" id="img-preview-add"></div>
                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">ESCOLER</span>

                                    <input type="file" accept="image/png, image/jpeg, image/gif" class="fileUpload" id="slideAdd" name="slideAdd" />
                                    
                                </div><br/><br/>
                                <label for="sel1">Selecionar Tipo:</label>
                                        <select class="form-control" id="sel1" name="tipo">
                                            <option value="desktop">Mostar no Desktop</option>
                                            <option value="mobile">Mostrar em Mobile</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br/>
                            <label class="control-label">Link </label><input type="url" class="form-control" id="slideLink" name="slideLink" placeholder="http://www.example.com"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <br/>
                            <label for="locale">Lingua</label>
                            <select name="locale" id="locale" class="form-control">
                                {% for locale in locales %}
                                    <option value="{{locale}}">{{ locale|upper }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>




                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">


                    <button type="submit" class="btn btn-sm btn-success btn-flat pull-right"><i class="fa fa-plus"></i> Adicionar</button>
                </div>
            </form>
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- DataTables -->

{% endblock %} {% block customscripts %} 
<script src="/bo/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/bo/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/bo/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/bo/plugins/iCheck/icheck.min.js"></script>
<!-- Typeahead -->
<script src="/bo/plugins/typeahead/typeahead.jquery.min.js"></script>
<script>
    $(".fileUpload").on('change', function() {

        if (typeof(FileReader) != "undefined") {

            var image_holder = $(this).closest('.addSlide').find(".img-container");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function(e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image img-responsive"
                }).appendTo(image_holder);

            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("This browser does not support FileReader.");
        }
    });

</script>

{% endblock %}
