<style>
    
 #call-me-container{
        background-color:#1e7483; 
     outline: none;
    }
    
    #call-me-container:hover{
        background-color: #005a64;
        cursor: pointer;
    }
    #call-me-container > a:hover{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    
    #call-me-container > a{
        color: white;
        text-decoration: none;
        cursor: pointer;
     outline: none;
    }
    
    @media only screen and (max-width: 600px){
        #call-me-container{
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 18pt;
            margin-right: 5px;
            margin-left: 5px;
        }
    } 
</style>
<a data-toggle="modal" href="#ignismyModal"><div class="container" id="call-me-container" style=" color: white; border-radius: 5px; text-align: center; ">
            
             <a data-toggle="modal" href="#ignismyModal"><span style="text-transform: uppercase; font-size: 24pt; position: relative;
             bottom: 5px; font-weight: 200; "><span>{{" Tem dúvidas"|trans }}?</span><span style="font-weight: 500">  {{ "Ligamos para si"|trans }}</span> </span></a><a data-toggle="modal" href="#ignismyModal"><span style=""> {% include "icons_phone.svg.twig" %}</span></a>
        </div></a>

<script>
$(document).on('click', '#call-me-container', function(e)
    {
        e.preventDefault();
            
    $('#ignismyModal').modal('show'); 
        
    });
</script>
