{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Carrinho de Compras"|trans }}</div>
        </div>
    </div>
    {% if (items) %}
    <div class="cart-step" id="cart-step1">
        <div class="cart-step-title">
            <div class="page-wrapper">
                {{ "Resumo da Encomenda"|trans }}
            </div>
        </div>
        <div class="page-wrapper">
            <div class="cart-contents">
                <table class="cart-table">
                    <tr class="cart-tbl-head">
                        <td class="img-col">{{ "Imagem"|trans }}</td><td class="title-col">{{ "Produto"|trans }}</td><td class="remove-col">{{ "Remover"|trans }}</td><td class="qtd-col">{{ "Quantidade"|trans }}</td><td class="price-col">{{ "Preço Unitário"|trans }}</td><td class="total-col">{{ "Total"|trans }}</td>
                    </tr>
                {% for item in items %}
                    <tr class="cart-row">
                        <td class="img-col"><img src="{{ item.option.article.images[0] is defined ? item.option.article.images[0].image_url : '' }}" /></td>
                        <td class="title-col">{{ item.option.article.title }}<br><span>{{ "Tamanho: "|trans }}{{ item.option.size }}</span></td>
                        <td class="remove-col"><a class="remove-item" itemid="{{ item.item_id }}"><i class="fa fa-trash-o"></i></a></td>
                        <td class="qtd-col">
                            <div class="mobile-label">{{ "Quantidade"|trans }}</div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[{{ item.item_id }}]">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                </span>
                                <input itemid="{{ item.item_id }}" type="text" name="quant[{{ item.item_id }}]" class="form-control input-number" value="{{ item.quant }}" min="1" max="{{ item.option.stock }}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[{{ item.item_id }}]">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <input type="hidden" class="ship-mainland" value="{{item.option.article.ship_mainland}}">
                        <input type="hidden" class="ship-islands" value="{{item.option.article.ship_islands}}">
                        <input type="hidden" class="ship-mainland-total" value="{{item.option.article.ship_mainland * item.quant}}">
                        <input type="hidden" class="ship-islands-total" value="{{item.option.article.ship_islands * item.quant}}">
                        <td class="price-col"><div class="mobile-label">{{ 'Preço Unitário'|trans }}</div><span class="item-price">{{ item.option.price }}</span>{{ '€'|trans }}</td>
                        <td class="total-col"><div class="mobile-label">{{ 'Preço Total'|trans }}</div><span data-expedition-time="{{ item.option.article.expedition_time }}" class="total-item-price" id="quant[{{ item.item_id }}]">{{ item.option.price * item.quant }}</span>{{ '€'|trans }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan=100% style="line-height:80px; border-bottom: 0px">
                            <div class="col-md-4" style="text-align:left;"><span class="fa fa-truck" style="font-size:60px;margin-top:15px;position:absolute;left:10%;"></span><span style="padding-left:35%;">{{ "Método de Entrega:"|trans }}</span></div>
                            {#
                            <div class="col-md-4 dev-opt">
                                <div class="step-opts">
                                    <div class="step-opts-sel"><span class="step-opt-selected">Portugal Continental</span> <i class="fa fa-chevron-circle-down" style="float:right;padding-top:5px;"></i></div>
                                    <ul class="delivery-step-options">
                                        <li class="step-opt" opt="1">Portugal Continental</li>
                                        <li class="step-opt" opt="2">Portugal Ilhas</li>
                                        <li class="step-opt" opt="3">Levantamento na Loja</li>
                                    </ul>
                                    <input type="hidden" id="shipping-opt" value="1" />
                                </div>
                            </div>
                            #}
                            <input type="hidden" id="shipping-opt" value="1" />
                            <div class="col-md-5 dev-opt">{{ "Portugal Continental"|trans }}
                                {#
                                <br>
                                <smaller style="font-size:10px">De momento só realizamos entregas em Portugal Continental.</smaller>
                                #}
                            </div>
                            <div class="col-md-3" style="text-align:right;"><span class="total-item-price" id="ship-cost">15</span>€</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p style="font-size: 12px">{{ "Se pretende que o seu colchão seja entregue nas ilhas por favor avance e coloque a sua morada para verificar o custo dos portes"|trans }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=100%>
                            <div class="cart-totals">
                                <div class="cart-promo deactivated">
                                    <input id="promo-code" type="text" placeholder="{{ "Vale de Desconto"|trans }}" />
                                    <button type="button" id="validate-promo" validated="no" user="{% if user['id_user'] is defined and user['id_user'] > 0 %}{{user['id_user']}}{% endif %}">{{ "Validar"|trans }}</button>
                                </div>
                                <div class="cart-promo activated" style="display: none">
                                    DESCONTO [ código <span id="promo-activated-code"></span> ]: <span id="promo-activated"></span>
                                </div>
                                <input type="hidden" id="promo-val" value="" />
                                <input type="hidden" id="promo-type" value="" />
                                <input type="hidden" id="promo-code-final" value="" />
                                <div class="cart-total-final">Total: <span class="cart-total-value"></span>€</div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div style="margin-top: 10px; margin-bottom: 40px;">
        {% include "call_me.twig" %}
    </div>
    
    <div class="cart-step" id="cart-step2">
        <div class="page-wrapper">
            <div class="cart-address-content" id="delivery">
                <div class="address-content-title">{{ "Dados de Entrega"|trans }}</div>
                {% if not userdata %}
                    <div class="address-content-text login-cta">
                        <a href="javascript:void(0);" class="" style="width: initial">
                            {{ "( Se já é cliente realize aqui o seu login. )"|trans }} 
                        </a>
                    </div>
                {% endif %}
                <div class="address-form-container">
                    <div class="address-form-left">
                        <label class="address-label">{{ "*Nome:"|trans }}</label><br>
                        <input id="addr-name" type="text" name="nome" placeholder="{{ "ESCREVA AQUI O SEU NOME"|trans }}" value="{% if userdata.name is defined %}{{userdata.name}}{% endif %}" />
                    </div>
                    <div class="address-form-right">
                        <label class="address-label">{{ "*Email:"|trans }}</label><br>
                        <input id="addr-email" type="text" name="email" placeholder="{{ "ESCREVA AQUI O SEU EMAIL"|trans }}" value="{% if userdata.email is defined %}{{userdata.email}}{% endif %}" />
                    </div>
                    <div class="address-form-left">
                        <label class="address-label">{{ "*Telefone:"|trans }}</label><br>
                        <input id="addr-phone" type="text" name="telefone" placeholder="{{ "ESCREVA AQUI O SEU TELEFONE"|trans }}" value="{% if address.addr_phone is defined %}{{address.addr_phone}}{% endif %}" />
                    </div>
                    <div class="address-form-right">
                        <label class="address-label">{{ "*NIF:"|trans }}</label><br>
                        <input id="addr-nif" type="text" name="nif" placeholder="{{ "ESCREVA AQUI O SEU Nº DE CONTRIBUINTE"|trans }}" value="{% if address.addr_nif is defined %}{{address.addr_nif}}{% endif %}" />
                    </div>
                    <div class="address-form-left">
                        <label class="address-label">{{ "*Rua:"|trans }}</label><br>
                        <input id="address-field" type="text" name="morada" placeholder="{{ "ESCREVA AQUI A SUA RUA"|trans }}" value="{% if address.addr_street is defined %}{{address.addr_street}}{% endif %}" preload="{% if address.addr_street is defined %}{{address.addr_street}}{% endif %}" />
                    </div>
                    <div class="address-form-right">
                        <label class="address2-label">{{ "*Andar, Lado:"|trans }}</label><br>
                        <input id="address2-field" type="text" name="morada2" placeholder="{{ "ESCREVA AQUI O SEU ANDAR, LADO, ETC"|trans }}" value="{% if address.addr_street2 is defined %}{{address.addr_street2}}{% endif %}" preload="{% if address.addr_street2 is defined %}{{address.addr_street2}}{% endif %}" />
                    </div>
                    <div class="address-form-left">
                        <label class="address-label">{{ "*Código Postal:"|trans }}</label><br>
                        <input id="cp1-field" type="text" name="cp1" class="cp1" placeholder="0000" maxlength="4" value="{% if address.addr_cp1 is defined %}{{address.addr_cp1}}{% endif %}" preload="{% if address.addr_cp1 is defined %}{{address.addr_cp1}}{% endif %}" />
                        <input id="cp2-field" type="text" name="cp2" class="cp2" placeholder="000" value="{% if address.addr_cp2 is defined %}{{address.addr_cp2}}{% endif %}" preload="{% if address.addr_cp2 is defined %}{{address.addr_cp2}}{% endif %}" />
                    </div>
                    <div class="address-form-right">
                        <label class="address-label">{{ "*Localidade:"|trans }}</label><br>
                        <input id="local-field" type="text" name="morada" placeholder="{{ "ESCREVA AQUI A SUA LOCALIDADE"|trans }}" value="{% if address.addr_city is defined %}{{address.addr_city}}{% endif %}" preload="{% if address.addr_city is defined %}{{address.addr_city}}{% endif %}" />
                    </div>
                    <div class="address-subtitle">{{ "*Campos de preenchimento obrigatório"|trans }}</div>
                </div>
            </div>
            <div class="cart-address-content" id="billing">
                <div class="address-content-title">{{ "Dados de Faturação"|trans }}</div>
                <div class="billing-text">
                    <span id="bill-text-closed">
                        {{ "Caso os dados de facturação sejam diferentes dos seus dados de entrega, deverá clicar"|trans }}
                    </span>
                    <span id="bill-text-open" style="display: none">
                        {{ "Caso os dados de facturação sejam iguais aos seus dados de entrega, deverá clicar"|trans }}
                    </span>
                    <a class="billing-btn" billing="no">
                        {{ "aqui"|trans }}
                    </a>
                </div>
                <div class="billing-form-container">
                    <div class="address-form-left">
                        <label class="address-label">{{ "Nome:"|trans }}</label><br>
                        <input id="bill-name" type="text" name="nome_bill" />
                    </div>
                    <div class="address-form-right">
                        <label class="address-label">{{ "NIF:"|trans }}</label><br>
                        <input id="bill-nif" type="text" name="nif" />
                    </div>
                    <div class="address-form-left">
                        <label class="address-label">{{ "Rua:"|trans }}</label><br>
                        <input id="bill-address" type="text" name="morada_bill" />
                    </div>
                    <div class="address-form-right">
                        <label class="address-label">{{ "Lado, Andar:"|trans }}</label><br>
                        <input id="bill-address2" type="text" name="morada_bill" />
                    </div>
                    <div class="address-form-left">
                        <label class="address-label">{{ "Código Postal:"|trans }}</label><br>
                        <input id="bill-cp1" type="text" name="cp1" class="cp1"  />
                        <input id="bill-cp2" type="text" name="cp2" class="cp2"  />
                    </div>
                    <div class="address-form-right">
                        <label class="address-label">{{ "Localidade:"|trans }}</label><br>
                        <input id="bill-local" type="text" name="local_bil"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-step" id="cart-step3">
        <div class="page-wrapper">
            <div class="cart-address-content" id="pay-details">
                <div class="address-content-title">{{ "Método de Pagamento"|trans }}</div>
                <div class="pay-total"><span>{{ "Valor total a pagar: €"|trans }}</span><span id="value-to-pay">130.00</span></div>
                <div class="pay-total" style="padding-top:0px">{{ 'Expedição em <span class="expedition-time-placeholder">15</span> dias úteis.'|trans|raw }}</div>
                <div class="pay-opts-title">{{ "Escolha um dos seguintes métodos de pagamento:"|trans }}</div>
                <div class="checkout-method">
                    <div class="pay-opts" hasval="true">
                    <div class="pay-opt">
                    <input id="pay1" class="with-font" type="radio" name="pay-method" value="pay-cc" checked><label for="pay1"><i class="pf pf-visa"></i> <i class="pf pf-mastercard-alt"></i></label>
                    </div>
                    <div class="pay-opt">
                    <input id="pay2" class="with-font" type="radio" name="pay-method" value="pay-mb"><label for="pay2"><i class="pf pf-multibanco"></i></label>
                    </div>
                    <div class="pay-opt">
                        <input id="pay3" class="with-font" type="radio" name="pay-method" value="pay-mbway">
                        <label for="pay3" class="pay-mbway">
                            <i class="pf pf-multibanco"></i>
                            <span class="mbway-hack-icon">WAY</span>
                        </label>
                    </div>
                </div>
                <div class="pay-free">{{ "Encomenda sem custos"|trans }}</div>
                </div>
                <div style="padding: 20px 100px">
                    <p style="text-align:center"><b>{{ "Atenção serviço 3D-Secure em Cartões de Crédito/Débito"|trans }}</b></p>
                    <p>{{ 'A plataforma de pagamentos do site <a href="//%static_path%">%static_path%</a> pode, em alguns casos, utilizar o serviço 3D-Secure, que reforça a segurança das transações online. Este serviço é gratuito e permite realizar pagamentos on-line com segurança acrescida, através da introdução de um código numérico de utilização única (um código por compra) enviado por SMS para o telemóvel do titular do cartão. Está disponível para cartões das redes MasterCard/Maestro e Visa/Visa Electron. A ativação do serviço 3D-Secure tem que ser solicitada à entidade bancária emissora do seu Cartão de Crédito.'|trans({'%static_path%': static_path})|raw }}</p>
                    <p>{{ "A informação do seu cartão de crédito nunca é armazenada nos nossos servidores e é apenas responsabilidade do gateway de pagamento (SIBS ou Adyen BV). Se não tiver este serviço ativo, terá que recorrer ao pagamento através do Multibanco, escolhendo a outra opção."|trans }}</p>
                </div>
                <div class="pay-finally">
                    <a id="pay-submit" class="btn prod-buy list btn-arrow">{{ "Finalizar Compra"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="empty-cart page-wrapper">
        <div class="col-sm-6">
            <img src="/images/emptycart.png">
        </div>
        <div class="col-sm-6">
            <div class="empty-text">{{ "O seu Carrinho de Compras está vazio..."|trans }}</div>
            <a href="/procurar/" class="btn prod-buy list">{{ "encontrar o meu colchão"|trans }}</a>
        </div>
    </div>
    {% endif %}

    <input type="hidden" name="ecomm_prodid" value="{{ ecomm_prodid }}">
{% endblock %}

