{% if cart.cart_discount > 0 %}
<p>{{ 'O valor total de encomenda inclui um desconto de <b>%cart.cart_discount% euros</b>, do vale de desconto "%cart.promocode%"'|trans({'%cart_discount%': cart.cart_discount, '%promocode%': cart.promocode })|raw }}</p>
{% endif %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-top:5px;padding-left:0px;padding-right:0px;padding-bottom:5px;line-height:100%">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
          {% for cart_article in cart.articles %}
          {% set option = cart_article.option %}
          {% set article = option.article %}
            <tr>
              <td valign="top" width="20%" style="padding-top:5px;padding-left:0px;padding-right:5px;padding-bottom:5px;line-height:100%">
                  <a href="{{url('produtos',{'url_title':article.url_title})}}" style="position:relative;width:150px;"><img src="{{ article.images[0] is defined ? article.images[0].image_url : '' }}" width="150px"></a>
              </td>
              <td valign="top" width="30%" style="padding-top:5px;padding-left:5px;padding-right:0px;padding-bottom:5px;line-height:100%">
                <font face="Verdana, sans-serif" color="#444"> 
                    <a href="{{url('produtos',{'url_title':article.url_title})}}" style="text-decoration:none;color:#444;">{{ article.title }}</a>
                    {% if true %}
                    <div style="margin-top:5px;padding-top:5px;line-height:100%;"> <font face="Verdana, sans-serif" color="#444444" size="2">{{ option.size }}</font></div>
                    {% endif %}
                </font>
              </td>
              <td valign="top" width="30%" style="padding-top:5px;padding-left:5px;padding-right:0px;padding-bottom:5px;line-height:100%">
                <table width="100%" style="border-collapse: collapse">
                    <tr style="border-bottom:2px solid #444">
                        <td style="text-align:center;"><font face="Verdana, sans-serif" color="#444" size="2">{{ 'QTD'|trans }}</font></td><td style="text-align:center;"><font face="Verdana, sans-serif" color="#444" size="2">PRE&Ccedil;O NA LOJA</font></td>
                    </tr>
                    <tr style="border-top:2px solid #CCC">
                        <td style="text-align:center; padding-top:10px"><font face="Verdana, sans-serif" color="#444" size="2">{{ cart_article.quant }}</font></td>
                        <td style="text-align:center; padding-top:10px"><font face="Verdana, sans-serif" color="#1e7483" size="5">{{ option.price }} &euro;</font></td>
                    </tr>
                </table>
              </td>
            </tr>
        {% endfor %}
      </table>
	</td>
  </tr>
</table>
