{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Contactos"|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-black"><h3>{{ "Informações"|trans }}</h3></div>
        <div class="block-text">
            <p>{{ 'No meu Colchão privilegiamos o formulário abaixo como forma de contacto. Para o envio com sucesso da sua mensagem deverá seleccionar o "Assunto" correspondente à questão que pretende tratar.'|trans }}</p>

            <p>{{ "Em alternativa, poderá utilizar o nosso serviço CHAT onde as suas dúvidas serão respondidas em “real time” entre as 10h-12h e as 14h-17h (dias úteis). Adicionalmente, a linha telefónica de apoio ao cliente encontra-se disponível através do %phone% no mesmo horário indicado acima."|trans({'%phone%': telephone}) }}</p>

        </div>
        <div class="block-title-black"><h3>{{ "Novo contacto"|trans }}</h3></div>
      
            <div class="block-text">
                <form id="contact-form-email">
                    <div class="col-sm-4">
                        <label for="contact-email-email">{{ "Endereço de email:"|trans }}</label><br>
                        <input class="form-control" type="text" id="contact-email-email" name="email" placeholder="{{ "Insira o seu endereço de email"|trans }}" value="" required><br>
                    </div>
                    <div class="col-sm-4">
                        <label for="contact-phone">{{ "Telefone (opcional):"|trans }}</label><br>
                        <input class="form-control" type="text" id="contact-phone-email" name="telefone" placeholder="{{ "Insira o seu número de telefone..."|trans }}" value=""><br>
                    </div>
                    <div class="col-sm-4">
                        <label for="contact-subject">{{ "Assunto:"|trans }}</label><br>
                        {% include 'blocks/contact_types.twig' %} <br>
                    </div>
                    <div class="col-sm-12">
                        <label for="contact-message">{{ "Mensagem:"|trans }}</label><br>
                        <textarea class="form-control" id="contact-message-email" name="mensagem" placeholder="{{ "Mensagem..."|trans }}" style="height:200px;"></textarea><br>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" id="ticket-submit-email" style="background-color: #5cb85c;" class="form-control btn-success contact-submit" value="{{ "Submeter"|trans }}">
                    </div>
                </form>
            </div>

    </div>

{% endblock %}
