{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}


    <div class="detail-top">
        <div class="page-wrapper product-cover" style="padding-bottom: 0px">
            <div class="row">
                <div class="product-main-image col-sm-8">
                    <div class="prod-title">{{ product.title }}</div>
                    <div class="prod-brand">Marca: {{ product.brand }}</div>
                    <div class="omc-flexslider flexslider" style="margin: 0">
                        <ul class="slides">
                            {% for image in product.images if not image.is_main %}
                                <li>
                                    <img class="flex-images" src="{{image.image_url}}?{{ image.cache_buster }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="prod-images">
                        {% for image in product.images if not image.is_main %}
                            <div class="prod-img-thumb" style="background:url('{{image.image_url}}?{{image.cache_buster}}') center center; background-size:cover; margin-left: 4px"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-ctas col-sm-4">
                    <div class="row">
                        <p class="prod-price" style="font-size: 70px; text-align:center; margin-bottom: 0px">{% if product.selected_option is defined and product.selected_option is not empty %}{{ product.selected_option.price  }}{% else %}{{ product.start_price  }}{% endif %}&euro;</p>
                        <div style="text-align: center; margin-bottom: 20px">
                            {% if product.is_promo %}
                                <span class="prod-discount" style="color: #1e7483; font-weight: bolder; font-size: 14px; margin-right: 10px">-{{ product.discount }}%</span>
                            {% endif %}
                            <span class="prod-original">{{product.original_price}}&euro;</span>
                        </div>
                    </div>
                    <div class="prod-actions">
                        <select class="form-control option-selector"  style="display:inline-block; width:100%; margin: 0 10px 10px 0;">
                            <option value="" disabled selected>{{ "Tamanho"|trans }}</option>
                            {% for option in product.options %}
                                <option value="{{ option.size }}" data-stockid="{{ option.id  }}" data-originalprice="{{option.original_price}}" data-price="{{ option.price }}"{% if product.selected_option is defined and product.selected_option.id == option.id %} selected{% endif %}>{{ option.size }}</option>
                            {% endfor %}
                        </select>
                        <a id="buy-item" article="{% if product.selected_option is defined %}{{ product.selected_option.id }}{% endif %}" data-price="{% if price is defined %}{{ price }}{% endif %}" data-title={{ product.title | json_encode | raw }} user="{% if user['id_user'] is defined and user['id_user'] > 0 %}{{ user['id_user'] }}{% endif %}" style="width: 100%"><button class="btn prod-buy" style="width: 100%" article="{% if product.selected_option is defined %}{{ product.selected_option.id }}{% endif %}">{{ "Comprar"|trans }}</button></a>
                    </div>
                    {% if product.ship_mainland == 0 %}
                        <div class="prod-shipping text-center">{{ "Envio gratuito para Portugal Continental"|trans }}</div>
                    {% else %}
                        <div class="prod-shipping">{{ "Mais portes de Envio"|trans }}</div>
                    {% endif %}
                    
                    <style>

                     #call-me-container{
                            background-color:#1e7483; 
                            outline: none;
                        }

                        #call-me-container:hover{
                            background-color: #005a64;
                            cursor: pointer;
                        }
                        #call-me-container > a:hover{
                            color: white;
                            text-decoration: none;
                            cursor: pointer;
                        }

                        #call-me-container > a{
                            color: white;
                            text-decoration: none;
                            cursor: pointer;
                            outline: none;
                        }

                        
                        
                            #call-me-container{
                                padding-top: 20px;
                                padding-bottom: 20px;
                                font-size: 18pt;
                                
                            }
                        
                    </style>
                    <br/>
                    <a data-toggle="modal" href="#ignismyModal"><div id="call-me-container" style=" color: white; border-radius: 5px; text-align: center; ">
                                <a data-toggle="modal" href="#ignismyModal"><span style=""> {% include "icons_phone.svg.twig" %}</span></a><br/><br/>
                                 <a data-toggle="modal" href="#ignismyModal"><span style="text-transform: uppercase; font-size: 24pt; position: relative;
                                 bottom: 5px; font-weight: 200; "><span>{{ "Tem dúvidas?" |trans}}</span><br/><span style="font-weight: 500">  {{ "Ligamos para si" |trans}}</span> </span></a>
                            </div></a>

                    <script>
                    $(document).on('click', '#call-me-container', function(e)
                        {
                            e.preventDefault();

                        $('#ignismyModal').modal('show'); 

                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="product-sub-menu">
        <div class="page-wrapper">
            <div class="prod-btn-col"><a class="prod-btn btn-selected" target="prod-description">{{ "Descrição"|trans }}</a></div>
            <div class="prod-btn-col"><a class="prod-btn" target="prod-conditions">{{ "Condições"|trans }}</a></div>
          <!--  <div class="prod-btn-col"><a class="prod-btn" target="prod-details">Detalhes</a></div> -->
        </div>
    </div>
    <div class="prod-content page-wrapper" style="padding-top: 0px">
        <div class="prod-page-title red-text">{{ product.title }}</div>
        <div class="prod-page-contents content-selected" id="prod-description">
            <h4 class="red-text">{{ "Características:"|trans }}</h4>
            <br/>
            {% for key,cha in characteristics %}
                {% set image = cha.image %}
                {% if key == 0 %} 
                    {% set image = product.deep ~ cha.image %}
                {% endif %}
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-1" style="float:left">
                        <img style="max-width:60px" src="/images/mattress_icons/{{ image }}?{% if article is defined %}{{article.main_image.cache_buster}}{% endif %}">
                    </div>
                    <div class="col-md-7">
                        <h5 style="margin:0px"><b>{{ cha.title }}</b></h5>
                        <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;; font-size:14px">{{ cha.description }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <h4 class="red-text">{{ "Especificações:"|trans }}</h4>
            <br/>
            <div>
                {{ product.description | raw }}
            </div>
        </div>
        <div class="prod-page-contents" id="prod-conditions">
            {{ product.conditions | raw }}
        </div>
        <div class="prod-page-contents" id="prod-details">
            {{ product.details | raw }}
        </div>
       
      
         
    </div>
    <div class="prod-content page-wrapper opinions-wrapper" style="padding-top:0px;padding-bottom:0px;">
        <div id="opinions"></div>
        <form name="frm_opinioes_verificadas" id="frm_opinioes_verificadas">
            <input type="hidden" name="prod_id" id="prod_id" value="{{ product.id }}">
        </form>
        <script src="//cl.avis-verifies.com/pt/cache/4/0/0/4001ab55-4562-a084-616a-b4216da6cf4b/widget4/4001ab55-4562-a084-616a-b4216da6cf4bproduit_script.js" ></script>
    </div>
    <div class="prod-content page-wrapper faqs-wrapper">
        <div class="faqs-left col-sm-8">
            <div class="prod-page-title">{{ "Perguntas Frequentes"|trans }}</div>
            <div class="prod-page-faqs">
                <ul>
                    {% for faq in faqs %}
                    <li class="faq-li" target="faq-{{ loop.index }}">
                            <i class="fa fa-chevron-circle-right"></i> &nbsp; {{ faq.title }}
                        </li>
                        <ul class="sub-li" id="faq-{{ loop.index }}">
                            {% for paragraph in faq.texts %}
                                <li>{{ paragraph|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{{url('contacto')}}" style="color: black; text-decoration:none">
            <div class="faqs-right col-sm-4">
                <div class="sac-title"><i class="fa fa-life-ring"></i> {{ "Suporte ao Cliente"|trans }}</div>
                <div class="sac-details">
                    <h2></h2>
                    <p>{{ "Questões? Devoluções?"|trans }}</p>
                    <p>{{ "Contacte-nos!"|trans }}</p>
                    <p>{{ "O apoio ao cliente espera por si!"|trans }}</p>
                </div>
            </div>
        </a>
    </div>
    <div class="prod-content page-wrapper">
        <div class="block-title-black"><h3>{{ "Produtos Relacionados"|trans }}</h3></div>
        <div class="row related-products">
            {% for promotion in promotions %}
                <div class="col-sm-2 col-md-2">
                    <a href="/produtos/{{promotion.url_title}}">
                        <div class="prod-img" style="background:url('{{promotion.main_image.image_url}}?{{promotion.main_image.cache_buster}}') center center; background-size:contain; background-repeat: no-repeat; height: 100px"></div>
                    </a>
                    <div class="prod-title" style="font-size:14px; text-align: center">{{ promotion.title }}</div>
                    <!--<div class="prod-discount" style="font-size:18px">{{ promotion.discount is defined ? promotion.discount : 0 }}% Desconto</div>
                    <div class="prod-original"><span>{{promotion.original_price is defined ? promotion.original_price : 0}}&euro;</span></div>
                    <div class="prod-price"><span>A partir de</span> {{ promotion.start_price is defined ? promotion.start_price : 0 }}&euro;</div>-->
                    <!--<div class="prod-shipping">Mais portes de Envio</div>-->
                    <!--<div class="prod-actions">
                        <div class="prod-size-picker">
                            <select class="option-selector">
                                <option value="" disabled selected>Tamanho</option>
                                {% for option in promotion.options %}
                                <option value="{{ option.size }}" data-stockid="{{ option.id  }}" data-originalprice="{{option.original_price}}" data-price="{{ option.price }}">{{ option.size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <a href="/produtos/{{promotion.url_title}}"><div class="prod-buy">Comprar</div></a>
                    </div>-->
                </div>
            {% endfor %}
        </div>
    </div>
<script language="Javascript">
$( document  ).ready(function(){
    if(dataLayer){
        dataLayer.push( {
            event: 'productDetails',
            ecommerce: {
                detail: {
                    products: [{
                        name: {% if article is defined %}{{ article.title|json_encode|raw }}{% else %}''{% endif %},
                        id: '{% if article is defined %}{{ article.id }}{% endif %}',
                        price: '{% if article is defined %}{{ article.start_price }}{% endif %}'
                    }]
                }
            }
        });
    }
});
</script>

{% endblock %}
