{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Perguntas frequentes"|trans }}</div>
        </div>
    </div>

    <div class="home-content results-content page-wrapper">

        {% for faq in faqs %}
        <div class="block-title-black"><h3>{{ faq.title }}</h3></div>
            <div class="block-text">
                {% for paragraph in faq.texts %}
                    {{ paragraph|raw }}
                    <br>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
	
