<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
    <channel>
        <title>{{ PageTitle }}</title>
        <description>{{ PageDescription }}</description>
        <link>https://www.omeucolchao.pt</link>
        <language>pt-PT</language>
        <pubDate>{{ pubDate }}</pubDate>
        {% for product in products %}
            <item>
                <g:title><![CDATA[{{ product.title|slice(0,150)|raw }}]]></g:title>
                <g:description><![CDATA[{{ product.description|slice(0,5000)|raw }}]]></g:description>
                <g:link>{{ product.url }}</g:link>
                <g:image_link>{{ product.image_url }}</g:image_link>
                {% if product.price is defined and product.price > 0 %}
                    <g:sale_price>{{product.sale_price}} EUR</g:sale_price>
                    <g:price>{{product.price}} EUR</g:price>
                {% else %}
                    <g:price>{{product.sale_price}} EUR</g:price>
                {% endif %}
                <g:id>{{ product.real_id }}</g:id>
                <g:product_type>{{ product.type }}</g:product_type>
                <g:google_product_category>{{ product.google_product_category }}</g:google_product_category>
                <g:availability>in stock</g:availability>
                <g:condition>new</g:condition>
                <g:brand>{{ product.brand }}</g:brand>
                {% if product.cheapest_option %}
                    <g:custom_label_1>cheapest_option</g:custom_label_1>
                {% endif %}
                <g:shipping_label>Envio grátis</g:shipping_label>
            </item>
        {% endfor %}
    </channel>
</rss>
