<table width="300" cellpadding="10" cellspacing="0" border="1" style="border:1px solid #000; width:300px"><tr><td>
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="300" style="margin:auto; font-size:14px;">
  <tr>
      <td rowspan="3" style="padding:5px 15px 5px 5px; vertical-align:middle"><img src="{{ static_path }}/images/email/icon_mb.png" width="62" alt="MB" /></td>
    <td style="padding:5px 15px 5px 5px;"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000">Entidade</font></td><td align="center" style="padding:5px; color:#333333; font-size:16px; text-align:center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000"><strong>{{ paydata.entity }}</strong></font></td></tr>
  <tr>
      <td style="padding:5px 15px 5px 5px;"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000">Referência</font></td><td align="center" style="padding:5px; color:#333333; font-size:16px; text-align:center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000"><strong>{{ paydata.reference }}</strong></font></td></tr>
  <tr>
      <td style="padding:5px 15px 5px 5px;"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000">Montante</font></td><td align="center" style="padding:5px; color:#333333; font-size:16px; text-align:center"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000"><strong>{{ paydata.amount }}</strong></font></td></tr>
</table>
  </td></tr></table>
