<!DOCTYPE html>
<html lang="{{language}}" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;" class="no-js">
<head>
    {% include 'google_tag_manager_head.twig' %}
    {% if render_fullstory %}
        {% include 'blocks/fullstory.twig' %}
    {% endif %}
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="title" content="{% block metaTitle %}{% endblock %}">
	<meta name="description" content="{% block metaDescription %}{% endblock %}">
	<meta name="keywords" content="{% block metaKeywords %}{% endblock %}">

	<title>{% block pageTitle %}{% endblock %}</title>

    <!-- globalise scripting and styling content language  -->
    <meta name="Content-Type-Script" content="text/javascript">
    <meta name="Content-Type-Style" content="text/css">
    <meta http-equiv="Content-Language" content="{{ language|upper }}">
    <meta name="robots" content="FOLLOW">
    <meta name="document-class" content="Completed">
    <meta name="document-rights" content="Copyrighted Work">
    <meta name="document-type" content="Public">
    <meta name="rating" content="general">
    <meta name="document-rating" content="Safe for Kids">
    <meta name="document-distribution" content="Global">
    <meta name="document-state" content="Dynamic">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="author" content="{{static_path}}">

    <meta name="language" content="{{ language }}">
    <meta name="copyright" content="{{ "O meu Colchão"|trans }}">
    <meta name="google-site-verification" content="" />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/paymentfont.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css?{{cacheBust}}">
    <link rel="stylesheet" type="text/css" href="/css/media.css?{{cacheBust}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.jquery.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">

    <!-- JS SCRIPTS -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bioep.min.js"></script>
    <script src="/js/custom.js?{{cacheBust}}"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> 
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="https://{{static_path}}">


    <!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='https://v2.zopim.com/?5WW2UUROnH5UIIMx4QeEhLe15aJhb6uI';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zendesk Chat Script-->


    {% block customhead %}{% endblock %}
</head>
<body>
    {% include 'google_tag_manager_body.twig' %}
    {% set user = app.session.get('omc_user') %}

    <div id="bio_ep" style="display:none">
        <div id="bio_ep-popup">
            <div id="bio_ep-logo">{{ "O meu Colchão"|trans }}</div>
            <div id="bio_ep-text">
                <p>{{ "Registe-se em baixo para começar a receber"|trans }}</p>
                <p>{{ "todas as novidades d'O meu Colchão"|trans }}</p>
            </div>
            <form id="register-nl"  method="post" action="/register-newsletter/" >
                <div class="alert alert-danger" id="alert-nl" style="display: none">
                    {{ '<strong>Atenção!</strong> Os Termos e Condições, bem como a Politica de Tratamento de dados têm ser aceites.'|trans|raw }}
                </div>
                <div class="form-group">
                    <input type="text" name="email">
                </div>
                <div class="input-wrapper">
                       <input type="checkbox" name="accept-terms" id="accept-terms-nl" value="1">
                       <label for="accept-terms">{{ "Concordo com os"|trans }} <a href="/termos/" target="_blank">{{ "Termos e Condições"|trans }}</a></label>
                    </div>
                    <div class="input-wrapper">
                       <input type="checkbox" name="accept-data" id="accept-data-nl" value="1">
                       <label for="accept-data">{{ "Concordo com a"|trans }} <a href="/politica-de-tratamento-de-dados/" target="_blank">{{ "Política de Tratamento de Dados"|trans }}</a></label>
                    </div>
                <div class="form-group">
                    <div id="register-nl-submit" class="prod-buy">{{ "Registar"|trans }}</div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-overlay">
        {% if user['id_user'] is defined and user['id_user'] > 0 %}
        <div class="omc-modal" id="logout-modal">
            <div class="modal-close" id="close-logout"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Terminar Sessão"|trans }}</div>
            <div class="logout-text">{{ "Tem a certeza que deseja terminar a sessão?"|trans }}</div>
            <div class="logout-confirm">
                <a class="modal-confirm-submit-secondary" id="logout-btn" href="/sair/">Sim</a>
                <a class="modal-confirm-dismiss" id="no-logout">{{ "Não"|trans }}</a>
            </div>
        </div>
        {% else %}
        <div class="omc-modal" id="login-modal">
            <div class="modal-close" id="close-login"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Iniciar Sessão"|trans }}</div>
            <div class="facebook-login"><i class="fa fa-facebook"></i>&nbsp; {{ "Entrar via Facebook"|trans }}</div>
            <div class="login-alter">{{ "ou"|trans }}</div>
            <div class="email-login-title">{{ "Entrar com o Email"|trans }}</div>
            <div class="login-form-container">
                <form id="login-form" action="/login/" method="post">
                    <div class="input-wrapper">
                        <span class="form-icon fa fa-envelope"></span>
                        <input id="login-input-1" type="text" name="email" placeholder="{{ "Email"|trans }}" />
                    </div>
                    <div class="input-wrapper">
                        <span class="form-icon fa fa-lock"></span>
                        <input id="login-input-2" type="password" name="password" placeholder="{{ "Password"|trans }}" />
                    </div>
                    <div class="submit-btn" id="user_login">{{ "Login"|trans }}</div>
                </form>
            </div>
            <div class="form-error-msg" id="login-errors-login"></div>
            <div class="other-login-actions">
                <div class="recover-pass"><a class="recover-pass-btn">{{ "Recuperar a Password"|trans }}</a></div>
                <div class="create-new"><a class="create-new-btn">{{ "Criar nova conta"|trans }}</a></div>
            </div>
        </div>
        <div class="omc-modal" id="register-modal">
            <div class="modal-close" id="close-register"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Criar Conta"|trans }}</div>
            <div class="facebook-login"><i class="fa fa-facebook"></i>&nbsp; {{ "Registar via Facebook"|trans }}</div>
            <div class="login-alter">ou</div>
            <div class="email-login-title">{{ "Registar com o Email"|trans }}</div>
            <div class="login-form-container">
                <form id="register-form" action="/register/" method="post">
                    <div class="input-wrapper">
                        <span class="form-icon fa fa-user"></span>
                        <input id="register-input-1" type="text" name="nome" placeholder="{{ "Nome"|trans }}" />
                    </div>
                    <div class="input-wrapper">
                        <span class="form-icon fa fa-envelope"></span>
                        <input id="register-input-2" type="text" name="email" placeholder="{{ "Email"|trans }}" />
                    </div>
                    <div class="input-wrapper">
                        <span class="form-icon fa fa-lock"></span>
                        <input id="register-input-3" type="password" name="password" placeholder="{{ "Password"|trans }}" />
                    </div>
                    
                    <div class="input-wrapper">
                       <input type="checkbox" name="accept-terms" id="accept-terms" value="1">
                       <label for="accept-terms">{{ "Concordo com os"|trans }} <a href="/termos/" target="_blank">{{ "Termos e Condições"|trans }}</a></label>
                    </div>
                    <div class="input-wrapper">
                       <input type="checkbox" name="accept-data" id="accept-data" value="1">
                       <label for="accept-data">{{ "Concordo com a"|trans }} <a href="/politica-de-tratamento-de-dados/" target="_blank">{{ "Política de Tratamento de Dados"|trans }}</a></label>
                    </div>
                    <br/>
                    <div class="g-recaptcha" data-sitekey="6Ldqq1gUAAAAAF7BHEJPFg0B-2jPLEt0ud_hlO6U"></div>
                    <br/>
                    <div class="submit-btn" id="user_register">{{ "Registar"|trans }}</div>
                </form>
            </div>
            <div class="form-error-msg" id="register-errors-register">
                <span class="message" id="fill-fields">{{ 'Tem de preencher todos os campos'|trans }}</span>
            </div>
            <div class="other-login-actions">
                <div class="login-already"><a class="login-already-btn">{{ "Iniciar Sessão"|trans }}</a></div>
            </div>
        </div>
        <div class="omc-modal" id="recover-modal">
            <div class="modal-close" id="close-recover"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Recuperar Password"|trans }}</div>
            <div class="email-login-title">{{ "Insira o seu Email"|trans }}</div>
            <div class="login-form-container">
                <form id="recover-form" action="/recover/" method="post">
                    <div class="input-wrapper">
                        <span class="form-icon fa fa-envelope"></span>
                        <input id="recover-input" type="text" name="email" placeholder="{{ "Email"|trans }}" />
                    </div>
                    <div class="submit-btn" id="rcvr-pass">{{ "Recuperar"|trans }}</div>
                </form>
            </div>
            <div class="form-error-msg" id="recover-errors-recover">
                <span class="message" id="fill-email">{{ 'Insira um email, por favor'|trans }}</span>
            </div>
            <div class="other-login-actions">
                <div class="go-back"><a class="go-back-btn"><i class="fa fa-chevron-left"></i> &nbsp; {{ "Voltar atrás"|trans }}</a></div>
            </div>
        </div>
        {% endif %}
        <div class="omc-modal" id="remove-item-modal">
            <div class="modal-close" id="close-remove"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Confirmação"|trans }}</div>
            <div class="modal-confirm-text">{{ "Deseja realmente remover o produto seleccionado?"|trans }}</div>
            <div id="modal-confirm-response"></div>
            <div class="modal-confirm-actions">
                <a class="modal-confirm-submit-secondary" id="remove-item-submit" itemid="">{{ "Confirmar"|trans }}</a>
                <a class="modal-confirm-dismiss" id="dismiss-remove">{{ "Cancelar"|trans }}</a>
            </div>
        </div>
        <div class="omc-modal" id="new-item-modal">
            <div class="modal-close" id="close-new-item"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Informação"|trans }}</div>
            <div class="modal-confirm-text" id="new-item-info">{{ "O produto foi adicionado ao carrinho com sucesso."|trans }}</div>
            <div id="modal-confirm-response"></div>
            <div class="modal-confirm-actions">
                <a href="/carrinho/" class="modal-confirm-dismiss">{{ "Finalizar Compra"|trans }}</a>
                <a class="modal-confirm-submit-secondary" id="dismiss-new-item">{{ "Continuar a comprar"|trans }}</a>
            </div>
        </div>
        <div class="omc-modal" id="generic-modal">
            <div class="modal-close" id="close-generic"><i class="fa fa-times"></i></div>
            <div class="modal-title">{{ "Informação"|trans }}</div>
            <div class="modal-confirm-text" id="generic-info">
                <span class="message choose-size">{{ 'Seleccione um tamanho, por favor.'|trans }}</span>
                <span class="message choose-filter">{{ 'Escolha pelo menos um filtro para a pesquisa.'|trans }}</span>
                <span class="message error-occurred">{{ 'Ocorreu um erro!'|trans }}</span>
                <span class="message error-temp">{{ 'Lamentamos mas de momento não foi possível concretizar a operação'|trans }}</span>
                <span class="message success-info">{{ 'A informação foi actualizada com sucesso'|trans }}</span>
                <span class="message empty-name">{{ 'O campo do Nome não pode estar vazio'|trans }}</span>
                <span class="message confirm-pass">{{ 'A confirmação da password não é igual'|trans }}</span>
                <span class="message success-pass">{{ 'A Password foi actualizada com sucesso'|trans }}</span>
                <span class="message error-newpass">{{ 'O campo do Nova Password não pode estar vazio'|trans }}</span>
                <span class="message request-success">{{ 'O seu pedido foi submetido com sucesso'|trans }}</span>
                <span class="message mandatory-field">{{ 'O campo da mensagem é obrigatório'|trans }}</span>
                <span class="message fill-email">{{ 'Deverá preencher o campo de email.'|trans }}</span>
                <span class="message error-temp-contact">{{ 'Lamentamos mas de momento não foi possível concretizar a operação. Por favor envie email para geral@omeucolchao.pt.'|trans }}</span>
                <span class="message error-number">{{ 'Não é possível selecionar esse número'|trans }}</span>
                <span class="message error-stock">{{ 'Lamentamos mas não existe mais stock disponível'|trans }}</span>
                <span class="message error-deliveries">{{ 'Infelizmente, os produtos escolhidos não estão disponíveis para entrega em Portugal não Continental.'|trans }}</span>
                <span class="message error-delivery">{{ 'Infelizmente, o produto escolhido não está disponível para entrega em Portugal não Continental.'|trans }}</span>
                <span class="message error-delivery2">{{ 'Infelizmente, um  dos produtos escolhidos não está disponível para entrega em Portugal não Continental, pelo que o removemos do seu carrinho.'|trans }}</span>
                <span class="message error-deliveries2">{{ 'Infelizmente, alguns dos produtos escolhidos não estão disponíveis para entrega em Portugal não Continental, pelo que os removemos do seu carrinho.'|trans }}</span>
                <span class="message mandatory-fields">{{ 'Existem campos obrigatórios em falta!'|trans }}</span>
                <span class="message billing-fill-fields">{{ 'Para usar dados diferentes de faturação tem de preencher todos os campos em falta!'|trans }}</span>
            </div>
            <div id="modal-confirm-response"></div>
            <div class="modal-confirm-actions">
                <a class="modal-confirm-submit" id="dismiss-generic">{{ "OK"|trans }}</a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{{ "Toggle navigation"|trans }}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand colchao-logo" href="/">{{ 'O meu Colchão'|trans}}</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
                    <a href="/resultados/">{{ "Colchões"|trans }}</a>
				</li>
				<li>
                    <a href="/vendas-b2b/">{{ "Vendas B2B"|trans }}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="display:none">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="flag-icon flag-icon-{{current_flag}}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" style="min-width: 53px">
                        {% if current_flag != "pt" %}<li><a href="#" class="language_chooser" data-language="pt"><span class="flag-icon flag-icon-pt"></span> PT</a></li>{% endif %}
                        {% if current_flag != "es" %}<li><a href="#" class="language_chooser" data-language="es"><span class="flag-icon flag-icon-es"></span> ES</a></li>{% endif %}
                        {% if current_flag != "gb" %}<li><a href="#" class="language_chooser" data-language="en"><span class="flag-icon flag-icon-gb"></span> UK</a></li>{% endif %}
                        {% if current_flag != "fr" %}<li><a href="#" class="language_chooser" data-language="fr"><span class="flag-icon flag-icon-fr"></span> FR</a></li>{% endif %}
                    </ul>
                    </select>
                </li>
				<li>
					<a href="/contacto/">
						<i class="fa fa-life-ring"></i>
                        {{ "Contacto"|trans }}	
					</a>
				</li>
				<li>
					<a href="/carrinho/">
						<i class="fa fa-shopping-bag selected"></i>
                        {{ "Carrinho"|trans }}	
                        <span id="cart-article-sum" {% if cart_article_sum <= 0 %}class="hidden"{% endif %}>{{ cart_article_sum }}</span>
					</a>
				</li>
                {% if user['id_user'] is defined and user['id_user'] > 0 %}
                    <li>
                        <a href="/area-pessoal/">
                            <i class="fa fa-user"></i>
                            {{ user['nome'] }}
                        </a>
                    </li>
                    <li>
                        <a style="cursor:pointer" id="logout-cta">
                            <i class="fa fa-power-off"></i>
                            {{ "Sair"|trans }} 
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a style="cursor:pointer" id="registar-login">
                            <i class="fa fa-user"></i>
                            {{ "Registar/Login"|trans }} 
                        </a>
                    </li>
                {% endif %}
			</ul>
			</div>
		</div>
	</nav>
    {% block content %}{% endblock %}

    <div class="page-wrapper">
        <iframe style="margin-top: 50px" id='AV_widget_iframe' frameBorder="0" width="100%" height="100%" src="//cl.avis-verifies.com/pt/cache/4/0/0/4001ab55-4562-a084-616a-b4216da6cf4b/widget4/4001ab55-4562-a084-616a-b4216da6cf4bhorizontal_index.html"></iframe>
    </div>

    <div class="footer">
        <div class="footer-top">
            <div class="page-wrapper">
                <div class="col-sm-4">
                    <br>
                    <meta class="netreviewsWidget" id="netreviewsWidgetNum360" data-jsurl="//cl.avis-verifies.com/pt/cache/4/0/0/4001ab55-4562-a084-616a-b4216da6cf4b/widget4/widget02-360_script.js"/>
                    <script src="//cl.avis-verifies.com/pt/widget4/widget02.min.js"></script>
                    <div class="footer-logo">{{ "O meu Colchão"|trans }}</div>
                    <div class="footer-slogan">{{ "Conforto e descanso criados à sua medida."|trans }}</div>
                    <div class="footer-social">
                        <a target="_blank" href="https://www.facebook.com/O-meu-Colch%C3%A3o-1205819579454487/" class="facebook"><i class="fa fa-facebook"></i></a>
                    </div>
					<br/>
                    <div class="footer-text">{{ "Pagamento 100% Seguro"|trans }}</div>
					<img src="/images/payments.png">
                </div>
                <div class="col-sm-4">
                    <div class="footer-title">{{ "Informações"|trans }}</div>
                    <ul class="footer-links">
                        <li><a href="/quem-somos/"><i class="fa fa-angle-right"></i> {{ "Quem Somos"|trans }}</a></li>
                        <li><a href="/faqs/"><i class="fa fa-angle-right"></i> {{ "FAQ's"|trans }}</a></li>
                        <li><a href="/politica-devolucoes/"><i class="fa fa-angle-right"></i> {{ "Política de devoluções"|trans }}</a></li>
                        <li><a href="/termos/"><i class="fa fa-angle-right"></i> {{ "Termos & Condições"|trans }}</a></li>
                        <li><a href="/contacto/"><i class="fa fa-angle-right"></i> {{ "Contactos"|trans }}</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="footer-title">{{ "A Minha Conta"|trans }}</div>
                    <ul class="footer-links">
                        <li><a {% if user['id_user'] is defined and user['id_user'] > 0 %}href="/area-pessoal/"{% else %}class="footer-login-cta"{% endif %}><i class="fa fa-angle-right"></i> {{ "Conta"|trans }}</a></li>
                        <li><a href="/carrinho/"><i class="fa fa-angle-right"></i> {{ "Carrinho"|trans }}</a></li>
                        <li><a {% if user['id_user'] is defined and user['id_user'] > 0 %}href="/area-pessoal/"{% else %}class="footer-login-cta"{% endif %}><i class="fa fa-angle-right"></i> {{ "Encomendas"|trans }}</a></li>
                        <li><a href="/contacto/"><i class="fa fa-angle-right"></i> {{ "Dúvidas, questões ? Ligue"|trans }} {{ telephone_number }}</a></li>
                        <li><a {% if user['id_user'] is defined and user['id_user'] > 0 %}href="/area-pessoal/" {% else %} class="footer-login-cta" {% endif %}><i class="fa fa-angle-right"></i> {{ "Convidar"|trans }}</a></li>
                    </ul>
                    <div class="footer-lx-feder">
                        <a href="/static/Website_FICHA_PROJETO_INTERNAC_-_OMC.pdf" target="_blank">
                            <img src="/images/logos_lx_feder.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-text">{{ "Copyright"|trans }} &copy; {{CurrentYear}} {{ "O meu Colchão. Todos os direitos reservados."|trans }}</div>
        </div>
    </div>

<style>
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop #thank-you-title{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
    
.input{ position: relative; margin:0px 30px; margin-bottom: 35px; } /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.input input[type="text"]:focus{
    outline: none;
    }
.effect-1, 
.effect-2, 
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #1e7483; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}
    
</style>
<div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                     </div>
					
                    <div class="modal-body">
                        <form id="form-call-me" action="/call-me/">
                            <div class="input" style="margin-bottom: 10px;"> <span style="font-size: 18pt; font-weight: 400; ">{{ "Pedido de Contacto"|trans }}</span> </div>
                            <div class="input"> <p style="font-size: 11p;">{{ "Preencha o formulário abaixo com os seus dados de contacto, para ser contactado nos próximos minutos."|trans }}</p> </div>
                        <p id="call-me-errors" style="color: red; text-align: center;">
                            <span class="message" id="fill-fields-call">{{ 'Preencha por favor todos os campos'|trans }}</span>
                        </p>
                        <div class="input">
                            <input class="effect-1" type="text" id="call-me-name" name="name"  placeholder="{{ "Nome Próprio"|trans }}">
                            <span class="focus-border"></span>
                        </div>
                        <div class="input">
                            <input class="effect-1" type="text" id="call-me-phone" name="phone" placeholder="{{ "Contacto Telefónico"|trans }}">
                            <span class="focus-border"></span>
                        </div>
                         <div class="input">
                           <input type="submit" id="call-me" class="btn btn-success btn-block" value="Ligue-me Gratuitamente" style="text-transform: uppercase; margin-bottom: 0px; font-weight: 600; ">
                           <p style="text-align: center; color: gray; font-size: 11p; margin-top: 5px;">{{ "Serviço disponível todos os dias úteis entre as 10h-12h e as 14h-17h."|trans }}</p> 
                        </div>
                           
                        </form>
						<div id="thank-you-pop" class="thank-you-pop" style="display: none;">
							<img src="/images/Green-Round-Tick.png" alt="">
                            <h1>{{ "Obrigado!"|trans }}</h1>
                            <p>{{ "O seu pedido foi enviado, será contactado nos próximos minutos."|trans }}</p>
							
							
 						</div>
                        
                        <div id="thank-you-close" class="thank-you-pop" style="display: none;">
							<img src="/images/Green-Round-Tick.png" alt="">
                            <h1>{{ "Obrigado!"|trans }}</h1>
                            <p>{{ "O seu pedido foi enviado. De momento o <b>nosso serviço de apoio ao cliente encontra-se encerrado</b> mas entraremos em contacto no próximo dia útil."|trans }}</p>
							
							
 						</div>
                         
                    </div>
					
                </div>
            </div>
        </div>
    {% if user['id_user'] is not defined or user['id_user'] < 1 %}
        <script type="application/javascript">
            // Exit intent POP UP plugin init
            bioEp.init({
                //showOnDelay: true,
                //delay: 10,
                cookieExp: 10
            });
        </script>
    {% endif %}
    <script>
    $zopim(function() {
        $zopim.livechat.setName("{% if user['id_user'] is defined and user['id_user'] > 0 %}{{user['nome']}}{%else%}{{ 'Utilizador não registado'|trans }}{%endif%}");
        $zopim.livechat.window.setTitle('{{ "O Meu Colchão"|trans }}');
        $zopim.livechat.concierge.setAvatar('https://www.omeucolchao.pt/images/home_cover.jpg');
        $zopim.livechat.theme.setColors({badge:'#1e7483', primary: '#1e7483'});
        $zopim.livechat.theme.reload();
    });
    </script>
    {% block js %}
    {% endblock %}
    {% include 'blocks/datalayer.twig' %}
    <script>
    // Enable tooltip
    $(document).ready(function(){ $(function () { $('[data-toggle="tooltip"]').tooltip() }) });
    </script>
</body>
</html>
