{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Detalhes da Encomenda"|trans }}</div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="backlink">
            <a href="/area-pessoal/">« {{ "Voltar à minha conta"|trans }}</a>
        </div>
        <div class="block-title-black"><h3>{{ "Resumo da Encomenda"|trans }}</h3></div>
        <table id="example1" class="table table-bordered table-striped" style="text-align:center;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">{{ "NºEnc."|trans }}</th>
                                <th style="text-align:center;">{{ "NºFact."|trans }}</th>
                                <th style="text-align:center;">{{ "Data da Encomenda"|trans }}</th>
                                <th style="text-align:center;">{{ "Data de Pagamento"|trans }}</th>
                                <th style="text-align:center;">{{ "Valor Total"|trans }}</th>
                                <th style="text-align:center;">{{ "Estado"|trans }}</th>
                                <th style="text-align:center;">{{ "Envio"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{cart.id}}</td>
                                <td>-</td>
                                <td>{{cart.date_modified}}</td>
                                <td>{% if cart.pay_status == 'PAID' %}{{cart.date_paid}}{% else %}-{% endif %}</td>
                                <td>{{cart.cart_total + cart.cart_shipping - cart.cart_discount}}€</td>
                                <td>{% if cart.pay_status == 'UNPAID' %}{{ "AGUARDA PAGAMENTO"|trans }}{% else %}{{ "PAGO"|trans }}{% endif %}</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="block-title-black"><h3>{{ "Estado do Pagamento"|trans }}</h3></div>
        <table id="example2" class="table table-bordered table-striped" style="text-align:center;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">{{ "Tipo de Pagamento"|trans }}</th>
                                <th style="text-align:center;">{{ "Estado"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{cart.pay_type}}</td>
                                <td>{% if cart.pay_status == 'UNPAID' %}{{ "AGUARDA PAGAMENTO"|trans }}{% else %}{{ "PAGO"|trans }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
        {% if cart.pay_type == 'PAY-MB' and cart.pay_status == 'UNPAID' %}
            <div class="mb-data">
                <table>
                    <tr>
                        <td style="font-size:60px;"><i class="pf pf-multibanco"></i></td>
                        <td>
                            <p>{{ "Entidade:"|trans }} <strong>{{paydata.entity}}</strong></p>
                            <p>{{ "Referência:"|trans }} <strong>{{paydata.reference}}</strong></p>
                            <p>{{ "Valor:"|trans }} <strong>{{paydata.amount}}€</strong></p>
                        </td>
                    </tr>
                </table>
                
            </div>
        {% endif %}
        <div class="block-title-black"><h3>{{ "Dados para Entrega"|trans }}</h3></div>
        <table id="example3" class="table table-bordered table-striped" style="text-align:center;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">{{ "Nome"|trans }}</th>
                                <th style="text-align:center;">{{ "Morada"|trans }}</th>
                                <th style="text-align:center;">{{ "Código Postal"|trans }}</th>
                                <th style="text-align:center;">{{ "Localidade"|trans }}</th>
                                <th style="text-align:center;">{{ "País"|trans }}</th>
                                <th style="text-align:center;">{{ "Data Prevista de Entrega"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                {% set address = cart.addresses %}
                                <td>{{address.addr_name}}</td>
                                <td>{{address.addr_street}}</td>
                                <td>{{address.addr_cp1}}-{{address.addr_cp2}}</td>
                                <td>{{address.addr_city}}</td>
                                <td>{{address.addr_country}}</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="block-title-black"><h3>{{ "Produtos da Encomenda"|trans }}</h3></div>
        <table id="example4" class="table table-bordered table-striped" style="text-align:center;">
            <thead>
                <tr>
                    <th style="text-align:center;">{{ "Refª"|trans }}</th>
                    <th style="text-align:center;">{{ "Imagem"|trans }}</th>
                    <th style="text-align:center;">{{ "Nome"|trans }}</th>
                    <th style="text-align:center;">{{ "Tamanho"|trans }}</th>
                    <th style="text-align:center;">{{ "Quantidade"|trans }}</th>
                    <th style="text-align:center;">{{ "Preço"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_article in cart.articles %}
                {% set option = cart_article.option %}
                {% set article = option.article %}
                <tr>
                    <td>{{ option.stk }}</td>
                    <td><img src="{{ article.images[0] is defined ? article.images[0].image_url : '' }}" width="150px"></td>
                    <td>{{ article.title }}</td>
                    <td>{{ option.size }}</td>
                    <td>{{ cart_article.quant }}</td>
                    <td>{{ cart_article.ord_total }}€</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
{% endblock %}
	
