{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Política de Devoluções"|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">

        <div class="block-title-black"><h3>{{ "POLÍTICA DE DEVOLUÇÕES"|trans }}</h3></div>

        <div class="block-text">
            {{ 'Não está satisfeito com o seu colchão? Poderá devolver o colchão que adquiriu até 30 dias após a respectiva entrega. O produto tem que ser entregue em perfeito estado de conservação e com todo o seu conteúdo original (embalagens incluídas). Não são aceites devoluções de produtos incompletos, danificados pelo cliente. Todas as devoluções têm de ser enviadas ou apresentadas com a respectiva factura. Pode optar por receber o valor de volta em numerário, sendo descontados os portes de envio da devolução, ou em código promocional na totalidade do valor da encomenda para adquirir um novo colchão em <a href="%static_path%">%static_path%</a>. Cada cliente só poderá proceder uma única vez à devolução do produto. Se pretende proceder à devolução por favor <a href="/contacto/">contacte-nos'|trans({'%static_path%': static_path})|raw }}</a>.
		</div>
    </div>
{% endblock %}
    
