{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Quem Somos"|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-black"><h3>{{ "Quem Somos"|trans }}</h3></div>
        <div class="block-text">
            {{ "O meu Colchão é um site especializado em colchões que pertence à ALWAYS ON TIME, LDA, uma empresa de e-commerce com mais de 10 anos de actividade comercial e centenas de milhares de clientes satisfeitos."|trans }} 
            <br>
            {{ "Omeucolchao.pt é um site especializado em colchões que vai ajudá-lo a encontrar um colchão à sua medida e ao melhor preço."|trans }} 
            <br>
            {{ "Sabemos que a escolha nem sempre é fácil, por isso acompanhamos todo o processo de forma personalizada e ajudamos na hora de decidir."|trans }} 
            <br>
            {{ "Descomplicar é a palavra de ordem e a credibilidade é a nossa mais valia. Oferecemos-lhe a melhor relação qualidade preço, à medida das suas necessidades."|trans }} 
        </div>
        <div class="block-title-black"><h3>{{ "Descontos até 90%"|trans }}</h3></div>
        <div class="block-text">
            {{ "Negociamos diariamente com os nossos parceiros distribuidores e fabricantes para lhe proporcionar grandes oportunidades de compra."|trans }}<br>
            {{ "Estes descontos só são possíveis porque temos uma equipa focada em encontrar bons negócios, de forma a que os nossos preços sejam atrativos o ano todo."|trans }} 
        </div>
        <div class="block-title-black"><h3>{{ "Pagamento"|trans }}</h3></div>
        <div class="block-text">
            {{ "No O meu Colchão o processo de compra é absolutamente cómodo, inovador e seguro."|trans }}<br>
            {{ 'Pode pagar com os principais e mais seguros cartões de crédito e débito (Visa, Mastercard), através do "pagamento de serviços" Multibanco (em qualquer caixa Multibanco), ou com o serviço MBNet da Unicre, activando um cartão de crédito temporário.'|trans }}
        </div>
        <div class="block-title-black"><h3>{{ "Apoio ao Cliente"|trans }}</h3></div>
        <div class="block-text">
            {{ "Tem a possibilidade de nos contactar através do nosso formulário de contacto na página de contactos para colocar questões relacionadas com as suas compras efetuadas ou encomendas futuras. Adicionalmente, pode também utilizar o nosso serviço de Chat para esclarecer dúvidas em realtime. Este serviço funciona das 10h-12h e as 14h-17h de segunda a sexta-feira, excepto feriados."|trans }} 
        </div>
    </div>

{% endblock %}

