{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% macro defaultChoice(selected) %}
{% if selected %}{{ "Todos"|trans }}{% else %}{{ "Escolha opção"|trans }}{% endif %}
{% endmacro %}
{% import _self as macros %}

{% block content %}
    <div style="position: fixed; width: 100%; z-index: 100">
        <div class="search-top-bar" style="background-color: #ededed">
            <div class="page-wrapper">

                <div class="search-title visible-xs text-center"><a data-toggle="collapse" data-target="#filterList" href="javascript:void(0);" class="btn-arrow">{{ "Altere a sua pesquisa"|trans }}</a></div>
                <div class="list-filters navbar-collapse collapse" id="filterList">
                    <form id="search-refinment" action="" method="get">
                    <div class="col-sm-2">
                        <label>{{ "Largura:"|trans }}</label><br>
                        <div class="select-wrapper">
                        <select name="width" class="refinment-filter">
                            <option value="">{{ macros.defaultChoice(widthParam) }}</option>
                            {% for width in widths|keys %}
                            <option value="{{width}}" {% if width == widthParam %}selected{% endif %}>{{width}}{{ "cm"|trans }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>{{ "Comprimento:"|trans }}</label><br>
                        <div class="select-wrapper">
                        <select name="height" class="refinment-filter">
                            <option value="">{{ macros.defaultChoice(heightParam) }}</option>
                            {% for height in heights|keys %}
                            <option value="{{height}}" {% if height == heightParam %}selected{% endif %}>{{height}}{{ "cm"|trans }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>{{ "Firmeza:"|trans }}</label><br>
                        <div class="select-wrapper">
                        <select name="firmness" class="refinment-filter">
                            <option value="">{{ macros.defaultChoice(firmnessParam) }}</option>
                            {% for firmness, value in firmnesses %}
                            <option value="{{firmness}}" {% if firmness == firmnessParam %}selected{% endif %}>{{ value.label }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>{{ "Altura:"|trans }}</label><br>
                        <div class="select-wrapper">
                        <select name="deep" class="refinment-filter">
                            <option value="">{{ macros.defaultChoice(deepParam) }}</option>
                            {% for deep in depts %}
                            <option value="{{deep.deep}}" {% if deepParam and deep.deep == deepParam %}selected{% endif %}>{{deep.deep}}cm</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>{{ "Marca:"|trans }}</label><br>
                        <div class="select-wrapper">
                        <select name="brand" class="refinment-filter">
                            <option value="">{{ macros.defaultChoice(brandParam) }}</option>
                            {% for brand in brands %}
                            <option value="{{brand.brand}}" {% if brandParam and brand.brand == brandParam %}selected{% endif %}>{{brand.brand}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>{{ "Tipo:"|trans }}</label><br>
                        <div class="select-wrapper">
                        <select name="type" class="refinment-filter">
                            <option value="">{{ macros.defaultChoice(typeParam) }}</option>
                            {% for type in types %}
                            <option value="{{type.mattress_type}}" {% if typeParam and type.mattress_type == typeParam %}selected{% endif %}>{{type.mattress_type|convert_encoding("ISO-8859-1","UTF8")}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    {# <input type="hidden" name="budget" value="{{budgetParam}}"/> #}
                    <input type="hidden" name="budget" value="{{ budgetParam }}"/>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="search-parameters-content">
        </div>
        <div class="block-title-black" style="margin-top: 140px"><h3>{{ blocktitle }}</h3></div>
        {% if results is empty %}
            {{ "Não foram encontrados resultados para a sua pesquisa"|trans }} 
        {% else %}
            <div class="article-list">
                {% for result in results %}
                    {% include 'article_box.twig' with { article:result }%}
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}
	

{% block js %}

<script language="Javascript">
$(document).ready(function() {

    var ajaxRunning = false;

    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl     = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
            query  = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
           urlParams[decode(match[1])] = decode(match[2]);
    })();

    // Register ao select2s

    var $width_select = $("select[name='width']").select2({ minimumResultsForSearch: Infinity });
    var $height_select = $("select[name='height']").select2({ minimumResultsForSearch: Infinity });
    var $firmness_select = $("select[name='firmness']").select2({ minimumResultsForSearch: Infinity });
    var $deep_select = $("select[name='deep']").select2({ minimumResultsForSearch: Infinity });
    var $brand_select = $("select[name='brand']").select2({ minimumResultsForSearch: Infinity });
    var $type_select = $("select[name='type']").select2({ minimumResultsForSearch: Infinity });

    // Set hooks on select2 changes

    $width_select.on("select2:select", function(e) { refreshSubmit(); });
    $height_select.on("select2:select", function(e) { refreshSubmit(); });
    $firmness_select.on("select2:select", function(e) { refreshSubmit(); });
    $deep_select.on("select2:select", function(e) { refreshSubmit(); });
    $brand_select.on("select2:select", function(e) { refreshSubmit(); });
    $type_select.on("select2:select", function(e) { refreshSubmit(); });

    function refreshSubmit(){

        if(!ajaxRunning){
            //refreshFilters();
            $('#search-refinment').submit();
        }

    }

    function refreshFilters() {
        width = urlParams['width'];
        height = urlParams['height'];
        firmness = urlParams['firmness'];
        deep = urlParams['deep'];
        brand = urlParams['brand'];
        type = urlParams['type'];

        params = {
            height: height,
            width: width,
            firmness: firmness,
            deep: deep,
            brand: brand,
            type: type
        };

        ajaxRunning = true;

        $.ajax({
            url: '/searchFilters/',
            data: params,
            success: function(data){updateFilters(data,params);},
        }).always( function(){ ajaxRunning = false; } );

    }

    function updateFilters(data,params) {
        updateFilter($width_select, { data: data.widths , placeholder: '{{ "Largura"|trans }}', suffix:' {{ "cm"|trans }}', selected: params.width });
        updateFilter($height_select, { data: data.heights , placeholder: '{{ "Comprimento"|trans }}', suffix:' {{ "cm"|trans }}', selected: params.height });
        updateFilter($firmness_select, { data: data.firmnesses , placeholder: '{{ "Firmeza"|trans }}', map: {{ firmnesses|json_encode|raw }}, selected: params.firmness });
        updateFilter($deep_select, { data: data.deeps , placeholder: '{{ "Altura"|trans }}', suffix:' {{ "cm"|trans }}', selected: params.deep });
        updateFilter($brand_select, { data: data.brands , placeholder: '{{ "Marca"|trans }}', selected: params.brand });
        updateFilter($type_select, { data: data.types , placeholder: '{{ "Tipo"|trans }}', map: {{ typesMap|json_encode|raw }}, selected: params.type });
    }

    /*
     * args -> named array with keys:
     *      placeholder: the default placeholder
     *      data: the data list
     *      suffix: a suffix to be added to the text of every option (apart from the placeholder)
     *      selected: the currently selected value
     *      map: a translation map between data keys and a list of elements containing such key and a label
     *          firmness_map_example { "2": { label: "Firme" }}
     */

    function updateFilter($elem,args){
        var list = '';
        if(args.placeholder){
            list = '<option value="">'+args.placeholder+'</option>';
        }
        args.data.forEach(function(elem){
            text = (args.map && args.map[elem] ? args.map[elem]['label'] : elem );
            text = (args.suffix ? text + args.suffix : text );
            selected = ( args.selected && args.selected == elem ? 'selected' : '' );
            list += '<option value="' + elem + '"' + selected + '>' + text + '</option>';
        });
        $elem.html(list).change();

    }

    refreshFilters();


});
</script>
{% endblock %}
