{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}

    <div class="search-top-bar hidden-xxs">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Defina as características do seu colchão'|trans }}</div>
        </div>
    </div>
    <div class="search-top-bar search-top-bar-mobile visible-xxs">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Defina as características do seu colchão'|trans }}</div>
        </div>
    </div>


    <div class="search-step" id="step1">
        <div class="row page-wrapper">
            <div class="col-sm-12 col-md-4">
                <div class="step-title">{{ 'Escolha a <strong>largura</strong>'|trans|raw }}</div>
                <div class="" target="#step1" val="{{ width is defined ? width : '' }}">
                    <div id="step1-img" class="step-img step-img-select">{% include "icons_largura135.svg.twig" %}</div>
                    <div class="step-text">
                        <select name="width" id="step1-select" style="width: 60%">
                            <option value="">{{ 'Largura'|trans }}</option>
                            {% for width,image in widths %}
                                <option value="{{width}}">{{width}}cm</option>
                            {% endfor %}
                        </select>
                     </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="step-title">{{ 'Escolha o <strong>comprimento</strong>'|trans|raw }}</div>
                <div class="" style="width: 100%" target="#step2" val="{{ width is defined ? width : '' }}">
                    <div id="step2-img" class="step-img step-img-select">{% include "icons_comp180.svg.twig" %}</div>
                    <div class="step-text">
                        <select name="height" id="step2-select" style="width: 60%">
                            <option value="">{{ 'Comprimento'|trans }}</option>
                            {% for height,image in heights %}
                                <option value="{{height}}">{{height}}cm</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="step-title">{{ 'Escolha a <strong>firmeza</strong>'|trans|raw }} </div>
                <div class="" style="width: 100%" target="#step3" val="{{ width is defined ? width : '' }}">
                    <div id="step3-img" class="step-img step-img-select">{% include "icons_muito_firme.svg.twig" %}</div>
                    <div class="step-text">
                        <select name="height" id="step3-select" style="width: 60%">
                            <option value="">{{ 'Firmeza'|trans }}</option>
                            {% for firmness,value in firmnesses %}
                                <option value="{{firmness}}">{{value.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-step" id="step4">
        <div class="page-wrapper">
            <div class="step-title">{{ 'Escolha o <strong>orçamento</strong>'|trans|raw }}</div>
            <div class="range-wrapper">
                <div class="step-range-label">
                    <div class="step-opt-4" target="1">
                        <div class="step-text">{{ 'Até 350€'|trans }}</div>
                    </div>
                    <div class="step-opt-4" target="2">
                        <div class="step-text">{{ 'Até 500€'|trans }}</div>
                    </div>
                    <div class="step-opt-4" target="3">
                        <div class="step-text">{{ 'Até 750€'|trans }}</div>
                    </div>
                    <div class="step-opt-4" target="4">
                        <div class="step-text">{{ 'Até 1000€'|trans }}</div>
                    </div>
                    <div class="step-opt-4" target="5">
                        <div class="step-text">{{ 'Até 1500€'|trans }}</div>
                    </div>
                    <div class="step-opt-4" target="6">
                        <div class="step-text">{{ 'Sem Limite'|trans }}</div>
                    </div>
                </div>
                <div class="step-range-input">
                    <input type="range" min="1" max="6" value="6" id="budget">
                </div>
            </div>
            <div class="search-submit">
                <a class="btn search-submit-btn prod-buy btn-arrow">{{ 'Pesquisar'|trans }}</a>
            </div>
        </div>
    </div>
    <form id="search-form" action="/resultados/" method="get">
        <input type="hidden" id="height-input" name="height" value="" />
        <input type="hidden" id="width-input" name="width" value="" />
        <input type="hidden" id="firmness-input" name="firmness" value="" />
        <input type="hidden" id="budget-input" name="budget" value="6" />
    </form>
{% endblock %}



{% block js %}

<script language="Javascript">
$(document).ready(function() {


    // Register ao select2s

    var $step1_select = $("#step1-select").select2({
        //placeholder: "Largura",
        minimumResultsForSearch: Infinity
    });
    $("#step1-img").on("click", function() {
        $step1_select.select2("open");
    });

    var $step2_select = $("#step2-select").select2({
        //placeholder: "Comprimento",
        minimumResultsForSearch: Infinity
    });
    $("#step2-img").on("click", function() {
        $step2_select.select2("open");
    });

    var $step3_select = $("#step3-select").select2({
        //placeholder: "Firmeza",
        minimumResultsForSearch: Infinity
    });
    $("#step3-img").on("click", function() {
        $step3_select.select2("open");
    });


    // Set active color on selection

    $('#step1-select').on('change', function(e) {
        console.log('event 1');
        console.log(e);
        $tg = $(this);
        if ($tg.val() == '') {
            $tg.parent().siblings('.step-img').removeClass('step-img-selected');
        } else {
            $tg.parent().siblings('.step-img').addClass('step-img-selected');
        }
        $('#width-input').val($tg.val());
        //$("#step2-select").focus();
    });

    $('#step2-select').on('change', function(e) {
        console.log('event 2');
        console.log(e);
        $tg = $(this);
        if ($tg.val() == '') {
            $tg.parent().siblings('.step-img').removeClass('step-img-selected');
        } else {
            $tg.parent().siblings('.step-img').addClass('step-img-selected');
        }
        $('#height-input').val($tg.val());
        //$("#step3-select").focus();
    });


    $('#step3-select').on('change', function(e) {
        console.log('event 3');
        console.log(e);
        $tg = $(this);
        if ($tg.val() == '') {
            $tg.parent().siblings('.step-img').removeClass('step-img-selected');
        } else {
            $tg.parent().siblings('.step-img').addClass('step-img-selected');
        }
        $('#firmness-input').val($tg.val());
        /*
        $('html, body').animate({
            scrollTop: $tg.offset().top
        }, 600, function() {
            window.location.hash = 'step4';
        });
        */
    });


    // Set hooks on select2 changes

    $step1_select.on("select2:select", function(e) { refreshFilters(); });
    $step2_select.on("select2:select", function(e) { refreshFilters(); });
    $step3_select.on("select2:select", function(e) { refreshFilters(); });

    function refreshFilters() {
        width = $step1_select.val();
        height = $step2_select.val();
        firmness = $step3_select.val();


        params = {
            height: height,
            width: width,
            firmness: firmness
        };


        $.ajax({
            url: '/searchFilters/',
            data: params,
            success: function(data){updateFilters(data,params);},
            //dataType: dataType
        });

    }

    function updateFilters(data,params) {
        updateFilter($step1_select, { data: data.widths , placeholder: '{{ 'Largura'|trans }}', suffix:' cm', selected: params.width });
        updateFilter($step2_select, { data: data.heights , placeholder: '{{ 'Comprimento'|trans }}', suffix:' cm', selected: params.height });
        updateFilter($step3_select, { data: data.firmnesses , placeholder: '{{ 'Firmeza'|trans }}', map: {{ firmnesses|json_encode|raw }}, selected: params.firmness });
    }

    /*
     * args -> named array with keys:
     *      placeholder: the default placeholder
     *      data: the data list
     *      suffix: a suffix to be added to the text of every option (apart from the placeholder)
     *      selected: the currently selected value
     *      map: a translation map between data keys and a list of elements containing such key and a label
     *          firmness_map_example { "2": { label: "Firme" }}
     */

    function updateFilter($elem,args){
        var list = '';
        if(args.placeholder){
            list = '<option value="">'+args.placeholder+'</option>';
        }
        args.data.forEach(function(elem){
            text = (args.map && args.map[elem] ? args.map[elem]['label'] : elem );
            text = (args.suffix ? text + args.suffix : text );
            selected = ( args.selected && args.selected == elem ? 'selected' : '' );
            list += '<option value="' + elem + '"' + selected + '>' + text + '</option>';
        });
        $elem.html(list).change();

    }


});
</script>
{% endblock %}
