<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

   <url>
      <loc>{{ url('homepage') }}</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
      <changefreq>daily</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
       <loc>{{ url('quem-somos') }}</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
      <changefreq>weekly</changefreq>
      <priority>0.1</priority>
   </url>
   <url>
       <loc>{{ url('faqs') }}</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
      <changefreq>weekly</changefreq>
      <priority>0.1</priority>
   </url>
   <url>
       <loc>{{ url('termos') }}</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
      <changefreq>weekly</changefreq>
      <priority>0.1</priority>
   </url>
   <url>
      <loc>{{ url('contacto') }}</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
      <changefreq>weekly</changefreq>
      <priority>0.1</priority>
   </url>
{% for product in products %}
    <url>
        <loc>{{ url('produtos', {'url_title':product.url_title})|e('html') }}</loc>
        <lastmod>{% if product.last_modified %}{{ product.last_modified|date("c") }}{% else %}{{ product.created|date("c") }}{% endif %}</lastmod>
       <changefreq>weekly</changefreq>
       <priority>0.3</priority>
    </url>
{% endfor %}

</urlset>
