{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Termos e Condições"|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">

        <div class="block-title-black"><h3>{{ "1. Partes e objeto"|trans }}</h3></div>

        <div class="block-text">
            {{ '1.1 As presentes condições gerais de utilização regulam a relação entre a ALWAYS ON TIME - UNIPESSOAL, LDA, NIPC 514798025, com sede na Estrada da Outurela, 118, Parque Holanda - Edifício Holanda, 2790-114 Carnaxide e o utilizador como tal registado em <a href="%static_path%">%static_path%</a>.'|trans({'%static_path%': static_path})|raw }}<br>
<br>
{{ '1.2 Este acordo determina os termos e condições que se aplicam ao uso do website por parte do utilizador final. A sua utilização está sujeita à prévia aceitação dos termos e condições gerais de uso doravante descritos no momento do registo como utilizador. As condições de utilização aplicáveis são novamente aceites pelo utilizador com a confirmação no respetivo botão aquando do processo de encomenda. Estas condições de utilização encontram-se em <a href="%static_path%">%static_path%</a> e podem ser acedidas, impressas ou guardadas localmente, em qualquer momento. Qualquer uso do website por parte do utilizador final após esta publicação será entendido como sendo uma aceitação das alterações efetuadas. Sugerimos aos utilizadores que releiam periodicamente os Termos de Utilização e Política de Privacidade de modo a que estejam sempre informados de quaisquer alterações que possam ocorrer.'|trans({'%static_path%': static_path})|raw }}<br>
<br>
{{ '1.3 No website <a href="%static_path%">%static_path%</a> promove-se uma plataforma de compras coletivas na qual os utilizadores podem adquirir:'|trans({'%static_path%': static_path})|raw }}<br>
<br>
{{ "colchões e produtos complementares ou relacionados com os mesmos. O omeucolchao.pt assume a posição legal e contratual de vendedora do produto e recebe o pagamento em nome próprio, para todos os efeitos legais."|trans({'%static_path%': static_path})|raw }}<br>
        </div>


        <div class="block-title-black"><h3>{{ "2. Processo de Compra"|trans }}</h3></div>
        <div class="block-text">
            {{ "Para adquirir um produto em omeucolchao.pt, deve seguir os seguintes passos:"|trans }}<br>
            <br>
            {{ '1) Carregar no botão "comprar" na página inicial.'|trans }}<br>
            {{ "2) Escolher o tamanho."|trans }}<br>
            {{ "3) Indicar o seu nome e endereço de e-mail e password para fazer o login. Caso ainda não esteja registado deverá preencher o formulário de registo."|trans }}<br>
            {{ "4) Escolher o método de pagamento pretendido, multibanco ou cartão de crédito, ou outro meio de pagamento disponível no website. No primeiro caso ser-lhe-á atribuída uma entidade e referência multibanco para proceder posteriormente ao pagamento. No segundo caso deverá fornecer os seguintes dados bancários: tipo de cartão de crédito, data de validade e número do mesmo, nome e apelido do titular do cartão e o código de segurança de três dígitos indicados no verso do cartão."|trans }}<br>
            {{ '5) Ao premir o botão "comprar" e com a confirmação das condições de utilização a entrega da sua ordem de compra efetiva-se. A aceitação do contrato de compra por parte de <a href="%static_path%">%static_path%</a> é feita através da confirmação sob a forma do envio da confirmação de encomenda.'|trans({'%static_path%': static_path})|raw }}<br>
            {{ "6) Após confirmação com sucesso do pagamento da encomenda a mesma é processada pelos nossos serviços."|trans }} <br>
            {{ "7) Aguardar o envio do produto para a morada indicada."|trans }}<br>
        </div>


        <div class="block-title-black"><h3>{{ "3. Livre resolução"|trans }}</h3></div>

        <div class="block-text">
            {{ "3.1 Direito de livre resolução"|trans }}<br>
<br>
{{ "O consumidor tem o direito de livre resolução do presente contrato no prazo de 14 dias de calendário, sem necessidade de indicar qualquer motivo."|trans }}<br>
{{ "O prazo para exercício do direito de livre resolução expira 14 dias a contar do dia seguinte ao dia "|trans }}<br>
{{ "a. da celebração do contrato, no caso de um contrato de prestação de serviços ou de um contrato de fornecimento de água, de gás ou de eletricidade, caso não sejam postos à venda em volume ou quantidade limitados, de aquecimento urbano ou de conteúdos digitais que não sejam fornecidos num suporte material;"|trans }}<br>
{{ "b.     em que adquire ou um terceiro por si indicado, que não seja o transportador, adquire a posse física dos bens, no caso de um contrato de compra e venda;"|trans }}<br>
{{ "c.     em que adquire ou um terceiro por si indicado, que não seja o transportador, adquire a posse física do último bem, no caso de um contrato em que o consumidor encomendou vários bens numa única encomenda e os bens são entregues separadamente;"|trans }}<br>
{{ "d.     em que adquire ou um terceiro por si indicado, que não seja o transportador, adquire a posse física do último lote ou da última parte, no caso de um contrato relativo à entrega de um bem constituído por vários lotes ou partes"|trans }}<br>
{{ "e.     em que adquire ou um terceiro por si indicado, que não seja o transportador, adquire a posse física do primeiro bem, no caso de um contrato de entrega periódica de bens durante um determinado período."|trans }}<br>
{{ "A fim de exercer o seu direito de livre resolução, tem de nos comunicar a sua decisão de resolução do presente contrato por meio de uma declaração inequívoca (por exemplo correio eletrónico) através do sistema de "|trans }}<a href="{{url('contacto')}}">{{ "Contactos"|trans }}</a>.<br>
{{ "Deve utilizar o modelo de formulário de resolução."|trans }}<br>
{{ "Para que o prazo de livre resolução seja respeitado, basta que a sua comunicação referente ao exercício do direito de livre resolução seja enviada antes do termo do prazo de resolução."|trans }}<br>
<br>
{{ "3.2. Efeitos da livre resolução"|trans }}<br>
<br>
{{ "Em caso de resolução do presente contrato, ser-lhe-ão reembolsados todos os pagamentos efetuados (com exceção de custos suplementares resultantes da sua escolha de uma modalidade de envio diferente da modalidade menos onerosa de envio normal por nós oferecida), sem demora injustificada e, em qualquer caso, o mais tardar 14 dias a contar da data em que formos informados da sua decisão de resolução do presente contrato."|trans }}<br>
{{ 'Efetuamos esses reembolsos em crédito na sua conta cliente em <a href="%static_path%">%static_path%</a> ou, se não nos confirmar o seu acordo, usando o mesmo meio de pagamento que usou na transação inicial; em qualquer caso, não incorre em quaisquer custos como consequência de tal reembolso, que não os custos diretos da devolução dos bens.'|trans({'%static_path%': static_path})|raw }}<br>
{{ "Reteremos o reembolso até termos recebido os bens devolvidos, ou até que apresente prova do envio dos bens, consoante o que ocorrer primeiro."|trans }}<br>
{{ "Deve devolver os bens ou entregar-no-los, sem demora injustificada dentro dos 14 dias a contar do dia em que nos informar da livre resolução do contrato."|trans }}<br>
{{ "Considera-se que o prazo é respeitado se devolver os bens antes do termo do prazo de 14 dias."|trans }}<br>
<br>
{{ "3.3. Condições da devolução dos bens"|trans }}<br>
<br>
{{ "O produto deve ser devolvido em perfeitas condições, o que pressupõe não ter sido utilizado e estar em condições de ser novamente comercializado em estado novo, sendo o utilizador responsável pela depreciação dos bens que decorra de uma manipulação que exceda o necessário para verificar a natureza, as características e o funcionamento dos bens, de acordo com a que seria admissível num estabelecimento comercial."|trans }}<br>
<br>
{{ "3.4. Portes da devolução"|trans }}<br>
<br>
{{ "Em caso de devolução de um produto os portes de envio serão sempre suportados pelo utilizador."|trans }}<br>
<br>
{{ "3.5. Inexistência do direito de livre resolução"|trans }}<br>
<br>
{{ "O utilizador  não pode resolver livremente os contratos de:"|trans }}<br>
<br>
{{ "a) Fornecimento de bens ou de prestação de serviços cujo preço dependa de flutuações de taxas do mercado financeiro que o fornecedor de bens ou prestador de serviços não possa controlar e que possam ocorrer durante o prazo de livre resolução;"|trans }}<br>
{{ "b) Fornecimento de bens confecionados de acordo com especificações do consumidor ou manifestamente personalizados;"|trans }}<br>
{{ "c) Fornecimento de bens que, por natureza, não possam ser reenviados ou sejam suscetíveis de se deteriorarem ou de ficarem rapidamente fora de prazo;"|trans }}<br>
{{ "d) Fornecimento de bens selados não suscetíveis de devolução, por motivos de proteção da saúde ou de higiene quando abertos após a entrega;"|trans }}<br>
{{ "e) Fornecimento de bens que, após a sua entrega e por natureza, fiquem inseparavelmente misturados com outros artigos;"|trans }}<br>
{{ "f) Fornecimento de um jornal, periódico ou revista, com exceção dos contratos de assinatura para o envio dessas publicações;"|trans }}<br>
{{ "g) Celebrados em hasta pública;"|trans }}<br>
{{ "h) Fornecimento de conteúdos digitais não fornecidos em suporte material se:"|trans }}<br>
{{ "i) A sua execução tiver início com o consentimento prévio e expresso do consumidor;"|trans }} <br>
{{ "ii) O consumidor reconhecer que o seu consentimento implica a perda do direito de livre resolução;"|trans }}<br>
{{ "i) Prestação de serviços de reparação ou de manutenção a executar no domicílio do consumidor, a pedido deste."|trans }}<br>
<br>
<div class="block-title-black"><h3>{{ "4. Condições suspensivas"|trans }}</h3></div>

        <div class="block-text">
            {{ "4.1 Não será celebrado nenhum contrato de compra para os produtos que entrarem em rutura de stock, ou seja, a venda será cancelada e a compra não será concluída."|trans }}<br>
            <br>

            {{ '4.2 Só depois de processado com êxito o pagamento do utilizador é que o contrato de compra terá lugar. A venda do produto só se realiza quando completa a sua encomenda. Para confirmar pode aceder à sua conta no site <a href="%static_path%">%static_path%</a> e verificar se a sua compra está registada com sucesso. Faz "entrar", coloca o seu e-mail e password e entra em "a minha conta". Tem aí todas as informações das suas encomendas.'|trans({'%static_path%': static_path})|raw }}
<br>
        </div>


        <div class="block-title-black"><h3>{{ "5. Garantia e responsabilidade"|trans }}</h3></div>
        <div class="block-text">
            {{ "5.1 O omeucolchao.pt garante que os produtos são fornecidos nas condições especificadas no mesmo."|trans }}
<br>
<br>

{{ "5.2 Se surgirem problemas com o produto adquirido, o omeucolchao.pt tentará encontrar uma solução. Se tal acontecer, escreva-nos por favor um e-mail para geral@omeucolchao.pt ou contacte-nos através do nosso formulário de contacto."|trans }}
<br>
<br>

{{ "5.3 O omeucolchao.pt assume as garantias e responsabilidades previstas no regime jurídico da venda e garantia dos bens de consumo."|trans }}
        </div>


        <div class="block-title-black"><h3>{{ '6. Direitos de autor e propriedade intelectual'|trans }}</h3></div>
        <div class="block-text">
            {{ "Tudo o que está contido neste website é propriedade exclusiva de omeucolchao.pt que reserva todos os direitos de autor e outros direitos sobre o serviço, bem como sobre os conteúdos, informações, imagens e demais dados aqui publicados. O omeucolchao.pt é proprietário de direitos de autor na seleção, coordenação, organização ou realce do seu conteúdo, bem como no conteúdo original do próprio. É expressamente proibido alterar, reproduzir, publicar, transmitir a terceiros e/ou qualquer outro aproveitamento desses conteúdos e elementos, sem prévia autorização por escrito do omeucolchao.pt"|trans }}
<br>
{{ "Qualquer violação desta política pode resultar numa infração dos direitos de autor, marca registada ou outra propriedade intelectual que por sua vez pode resultar numa penalização civil e/ou criminal."|trans }}
<br>
        </div>

        <div class="block-title-black"><h3>{{ "7. Responsabilidades de utilização do website"|trans }}</h3></div>
        <div class="block-text">
            {{ "O omeucolchao.pt não se responsabiliza, em nenhuma circunstância, pelas consequências resultantes de qualquer uma das seguintes situações:"|trans({'%static_path%': static_path}) }}
<br>

{{ "i) O uso que os utilizadores possam fazer do conteúdo do site ou dos links neles contidos, incluindo comportamentos que possam resultar na violação da legislação existente em matéria de propriedade intelectual;"|trans }}
<br>

{{ "ii) Dos erros, incidentes ou atrasos que possam ocorrer no acesso e utilização do site e que possam dificultar ou impedir o registo no site, compra de ofertas e/ou receção de emails de confirmação relacionados com o referido anteriormente."|trans }}
<br>
        </div>


        <div class="block-title-black"><h3>{{ "8. Alterações das condições de utilização"|trans }}</h3></div>
        <div class="block-text">
            {{ '8.1 Estas condições de utilização podem ser atualizadas em qualquer momento pelo omeucolchao.pt sempre que esta considerar necessário ou desejável sem notificação prévia aos utilizadores, de forma a responder às exigências jurídicas ou às alterações de funcionamento. O utilizador terá sempre acesso às condições de utilização em vigor em <a href="%static_path%">%static_path%</a>.'|trans({'%static_path%': static_path})|raw }}
<br>

{{ "O acesso e utilização posteriores do site pelo utilizador, serão consideradas como um sinal inequívoco de que o mesmo leu, aceitou e compreendeu os Termos e Condições alterados."|trans }}
<br>
<br>

{{ "8.2 Se já tiver sido estabelecida uma relação contratual entre o omeucolchao.pt e o utilizador, as novas condições de utilização só serão válidas se o omeucolchao.pt informar o utilizador da alteração e o utilizador não contestar por escrito a validade das condições de utilização alteradas no prazo de 6 semanas, pressupondo sempre que o utilizador é informado das consequências legais para o caso de não contestar."|trans }}
<br>
        </div>


        <div class="block-title-black"><h3>{{ "9. Invalidade Parcial"|trans }}</h3></div>

        <div class="block-text">
            {{ "A invalidade, total ou parcial, de qualquer das cláusulas das presentes Condições Gerais não afetará a validade das restantes previsões, salvo se a parte interessada demonstrar que o fim prosseguido pelas partes permite supor que estas não teriam concluído o negócio sem a parte viciada."|trans }}
<br>

<div class="block-title-black"><h3>{{ "10. Direito aplicável / Foro"|trans }}</h3></div>

        <div class="block-text">
            {{ "As condições do presente contrato ficam sujeitas à lei portuguesa, que determinará, em cada momento, o foro competente para dirimir todas as questões emergentes do presente Contrato que não possam ser solucionadas de comum acordo entre as partes."|trans }}
<br>
        </div>
    </div></div></div>
{% endblock %}
    
