{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Área Pessoal"|trans }}</div>
        </div>
    </div>
    {% if (userdata) %}
    <div class="page-wrapper personal-area">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#personal-data">{{ "Dados Pessoais"|trans }}</a></li>
            <li class="active"><a data-toggle="tab" href="#requests">{{ "As Minhas Encomendas"|trans }}</a></li>
            <li><a data-toggle="tab" href="#preferences">{{ "Preferências"|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="personal-data" class="tab-pane fade">
                <div class="personal-info-text">
                    <p>{{ "Por favor verifique os seus dados pessoais."|trans }}</p>
                    <p>{{ "Tal possibilita-nos gerir as suas encomendas e entregas da forma mais eficiente possível."|trans }}</p> 
                </div>
                <div class="personal-info-title">{{ "Dados Pessoais"|trans }}</div>
                <div class="personal-info-form">
                    <form id="user-details-form" action="/update-user-details/" method="post">
                    <div class="personal-form-left">
                        <label>{{ "Nome:"|trans }}</label>
                        <input id="usernome" type="text" name="nome" placeholder="{{ "Introduza o seu nome"|trans }}" value="{{userdata.name}}">
                    </div>
                    <div class="personal-form-left" style="clear:left">
                        <label>{{ "Rua:"|trans }}</label>
                        <input type="text" name="morada" placeholder="{{ "Introduza a sua rua"|trans }}" value="{% if useraddress.addr_street is defined %}{{useraddress.addr_street}}{% endif %}">
                    </div>
                    <div class="personal-form-right">
                        <label>{{ "Andar, Lado:"|trans }}</label>
                        <input type="text" name="morada2" placeholder="{{ "Introduza o número do seu andar, lado"|trans }}" value="{% if useraddress.addr_street2 is defined %}{{useraddress.addr_street2 }}{% endif %}">
                    </div>
                    <div class="personal-form-left-half">
                        <label>{{ "Código Postal:"|trans }}</label><br>
                        <input type="text" class="cp1" name="cp1" placeholder="0000" maxlength="4" value="{% if useraddress.addr_cp1 is defined %}{{useraddress.addr_cp1}}{% endif %}">
                        <input type="text" class="cp2" name="cp2" placeholder="000" maxlength="3" value="{% if useraddress.addr_cp2 is defined %}{{useraddress.addr_cp2}}{% endif %}">
                    </div>
                    <div class="personal-form-left-half">
                        <label>{{ "Localidade:"|trans }}</label><br>
                        <input type="text" name="local" placeholder="{{ "Introduza a sua Localidade"|trans }}" value="{% if useraddress.addr_city is defined %}{{useraddress.addr_city}}{% endif %}">
                    </div>
                    <div class="personal-form-right-half">
                        <label>{{ "Telefone:"|trans }}</label><br>
                        <input type="text" name="phone" placeholder="{{ "Introduza o seu Telefone"|trans }}" value="{% if useraddress.addr_phone is defined %}{{useraddress.addr_phone}}{% endif %}">
                    </div>
                    <div class="personal-form-right-half">
                        <label>{{ "NIF:"|trans }}</label><br>
                        <input type="text" name="nif" placeholder="{{ "Introduza o seu NIF"|trans }}" value="{% if useraddress.addr_nif is defined %}{{useraddress.addr_nif}}{% endif %}">
                    </div>
                    </form>
                </div>
                <div class="personal-info-text">
                    {{ "Email de Registo:"|trans }} {{userdata.email}}
                </div>
                
                <div class="save-info"><a id="save-user-info">{{ "Guardar Alterações"|trans }}</a></div>
                <div class="separator"></div>
                <div class="personal-info-title">{{ "Alteração de Password"|trans }}</div>
                <div class="personal-info-form">
                    <form id="user-set-pass" action="/user-set-pass/" method="post">
                    <div class="personal-form-left">
                        <label>{{ "Nova Password:"|trans }}</label>
                        <input id="pass1" type="password" name="new-pass" placeholder="{{ "Introduza a sua nova password"|trans }}" value="">
                    </div>
                    <div class="personal-form-right">
                        <label>{{ "Confirmação de Password:"|trans }}</label>
                        <input id="pass2" type="password" name="new-pass-conf" placeholder="{{ "Confirme a sua nova password"|trans }}" value="">
                    </div>
                    </form>
                </div>
                <div class="save-info"><a id="set-new-pass">{{ "Confirmar"|trans }}</a></div>
            </div>
            <div id="requests" class="tab-pane fade in active">
                <div class="personal-info-text">
                    <p>{{ "Consulte o estado das suas encomendas mais recentes, clicando na respectiva linha. As nossas entregas podem variar alguns dias."|trans }}</p>
                </div>
                <div class="personal-info-title">{{ "Encomendas"|trans }}</div>
                {% if usercarts is defined and usercarts is not empty %}
                <div class="my-carts">
                    <table id="example1" class="table table-bordered table-striped" style="text-align:center;">
                        <thead>
                            <tr>
                                <th style="text-align:center;">{{ "NºEnc."|trans }}</th>
                                <th style="text-align:center;" class="mobile-hidden">{{ "NºFact."|trans }}</th>
                                <th style="text-align:center;" class="mobile-hidden">{{ "Data da Encomenda"|trans }}</th>
                                <th style="text-align:center;" class="mobile-hidden">{{ "Data de Pagamento"|trans }}</th>
                                <th style="text-align:center;">{{ "Valor Total"|trans }}</th>
                                <th style="text-align:center;">{{ "Estado"|trans }}</th>
                                <th style="text-align:center;" class="mobile-hidden">{{ "Envio"|trans }}</th>
                                <th style="text-align:center;">{{ "Detalhes"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cart in usercarts %}
                            <tr>
                                <td>{{cart.id}}</td>
                                <td class="mobile-hidden">-</td>
                                <td class="mobile-hidden">{{cart.date_modified}}</td>
                                <td class="mobile-hidden">{% if cart.pay_status == 'PAID' %}{{cart.date_paid}}{% else %}-{% endif %}</td>
                                <td>{{cart.cart_total + cart.cart_shipping - cart.cart_discount}}{{ "€"|trans }}</td>
                                <td>{% if cart.pay_status == 'UNPAID' %}{{ "AGUARDA PAGAMENTO"|trans }}{% else %}{{ "PAGO"|trans }}{% endif %}</td>
                                <td class="mobile-hidden">-</td>
                                <td><a class="table-lnk" href="/encomenda/{{cart.id}}">{{ "VER DETALHES"|trans }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="empty-orders">
                    <div class="empty-orders-col">
                        <img src="/images/no-mattress.jpg">
                    </div>
                    <div class="empty-orders-col">
                        <p>{{ "Ainda não comprou o seu colchão de sonho..."|trans }}</p>
                        <a href="/procurar/">{{ "Procurar o meu Colchão"|trans }}</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div id="preferences" class="tab-pane fade">
                <div class="personal-form-left">
                    <div class="personal-info-title">{{ "Inscrição na Newsletter"|trans }}</div>
                    <div class="pref-status"><span class="pref-stat-title">{{ "Status:"|trans }}</span><span id="pref-stat-1">{{ "Encontra-se inscrito no sistema de notificações"|trans }}</span></div>
                    <div class="prefs-form">
                    <form id="user-news" action="/update-user-news/" method="post">
                        <label>{{ "Frequência de Newsletters"|trans }}</label><br>
                    <div class="select-container">
                    <div class="select-overlay"><span class="sel-text"></span><span class="fa fa-chevron-down select-arrow"></span></div>
                    <ul id="news-option">
                        <li class="news-opt-sel" newstype="1">{{ "Todas"|trans }}</li>
                        <li class="news-opt-sel" newstype="2">{{ "1 x Dia"|trans }}</li>
                        <li class="news-opt-sel" newstype="3">{{ "1 x Semana"|trans }}</li>
                        <li class="news-opt-sel" newstype="0">{{ "Não quero receber Newsletters"|trans }}</li>
                    </ul>
                    </div>
                    <input type="hidden" id="news-freq" name="news-freq" value="{% if userprefs.newsletter is defined %}{{ userprefs.newsletter }}{% else %}0{% endif %}" />
                    </form>
                        
                    <div class="save-info-3"><a id="save-news">{{ "Guardar Alterações"|trans }}</a></div>
                        <br/>  <br/><br/><br/>
                        {% if userdata.rgpd is null %}
                       
                        <form id="updateRGPD" action="/update-rgpd/" method="post">
                            <label for="accept-data">{{ "Para receber a nossa newsletter tem de aceitar a nossa"|trans }} <a href="/politica-de-tratamento-de-dados/" target="_blank">{{ "Política de Tratamento de Dados"|trans }}</a></label>
                         
                            <input type="submit" id="submitRGPD" style="color: #FFF;background: #1e7483;padding: 10px;font-family: 'Segoeui-SemiBold';text-decoration: none;text-transform: uppercase;cursor: pointer; border: none;" value="{{ "Aceitar"|trans }}" >
                        </form>
                        {% else %}
                        <div>{{ "Pode consultar a nossa"|trans }} <a href="/politica-de-tratamento-de-dados/">{{ "Politica de tratamento de dados"|trans }}</a>.</div>
                        
                        {% endif %}
                    </div>
                   
                </div>
                <div class="personal-form-right">
                    <div class="personal-info-title">{{ "Campanhas Promocionais via SMS"|trans }}</div>
                    <div class="pref-status"><span class="pref-stat-title">{{ "Status:"|trans }}</span><span id="pref-stat-2">{{ "Subscrição"|trans }} {% if userprefs.sms is not defined or userprefs.sms == 0 %}{{ "Não"|trans }} {% endif %}{{ "Activa"|trans }}</span></div>
                    <div class="save-info-2">
                        <a
                            id="save-sms"
                            dataval="
                                {% if userprefs.sms is defined %}
                                    {{ userprefs.sms }}
                                {% else %}
                                    0
                                {% endif %}
                            "
                            data-subscribe="{{ "Subscrever"|trans }}"
                            data-unsubscribe="{{ "Remover Subscrição"|trans }}"
                        >
                            {% if userprefs.sms is not defined or userprefs.sms == 0 %}
                                {{ "Subscrever"|trans }}
                            {% else %}
                                {{ "Remover Subscrição"|trans }}
                            {% endif %}
                        </a>
                    </div>
                    <div class="personal-info-title">{{ "Campanhas Promocionais de Parceiros"|trans }}</div>
                    <div class="pref-status"><span class="pref-stat-title">{{ "Status:"|trans }}</span><span id="pref-stat-3">{{ "Subscrição"|trans }} {% if userprefs.partners is not defined or userprefs.partners == 0 %}{{ "Não"|trans }} {% endif %}{{ "Activa"|trans }}</span></div>
                    <div class="save-info-2">
                        <a
                            id="save-partners"
                            dataval="{{ userprefs.partners is defined ? userprefs.partners : 0 }}"
                            data-subscribe="{{ "Subscrever"|trans }}"
                            data-unsubscribe="{{ "Remover Subscrição"|trans }}"
                        >
                            {% if userprefs.partners is not defined or userprefs.partners == 0 %}
                                {{ "Subscrever"|trans }}
                            {% else %}
                                {{ "Remover Subscrição"|trans }}
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endif %}
{% endblock %}
	
