{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle|trans}}{% endblock %}
{% block pageTitle %}{{PageTitle|trans}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ "Vendas B2B"|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-black"><h3>{{ "Informações"|trans }}</h3></div>
        <div class="block-text">
            <p>{{ "Precisa de colchões para o seu espaço? Nós temos a solução!"|trans }}</p>
            <p>{{ "N’O meu Colchão apresentamos diversas opções competitivas, que irão certamente ao encontro das necessidades do seu negócio."|trans }}</p>
            <p>{{ "Temos soluções exclusivas e à medida, com preços adaptados a profissionais, quer dos modelos apresentados no site como de outros modelos mais indicados para hotelaria."|trans }}</p>
        </div>
        <div class="block-title-black"><h3>{{ "Novo contacto"|trans }}</h3></div>
            <div class="block-text">
                <form id="contact-form-email">
                    <div class="col-sm-6">
                        <label for="contact-phone">{{ "Pessoa de contacto:"|trans }}</label><br>
                        <input class="form-control" type="text" id="contact-name-email" name="nome" placeholder="{{ "Insira o nome da pessoa de contacto..."|trans }}"><br>
                    </div>
                    <div class="col-sm-6">
                        <label for="contact-email-email">{{ "Email de contacto:"|trans }}</label><br>
                        <input class="form-control" type="text" id="contact-email-email" name="email" placeholder="{{ "Insira o endereço de email de contacto..."|trans }}" required><br>
                    </div>
                    <div class="col-sm-12">
                        <label for="contact-message">{{ "Pedido:"|trans }}</label><br>
                        <textarea class="form-control" id="contact-message-email" name="mensagem" placeholder="{{ "Mensagem..."|trans }}" style="height:200px;"></textarea><br>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" id="ticket-submit-email" style="background-color: #5cb85c;" class="form-control btn-success contact-submit" value="{{ "Submeter"|trans }}">
                    </div>
                </form>
            </div>
    </div>

{% endblock %}
