{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">
                {{ 'Confirmação de Encomenda'|trans }}
            </div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-payment">
            <h3>
                <i class="pf pf-multibanco"></i>
                <span class="mbway-hack-icon-2">WAY</span>
                {{ 'Pagamento por MB Way'|trans }}
            </h3>
        </div>
        {% if error is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert-danger">
                        <div class="alert-danger-content">
                            {% for m in error %}
                                <h4>{{ m | raw }}</h4>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="thankyou">
            <p>{{ 'Caro Membro,'|trans }}</p>
            <p>{{ 'Obrigado pela sua compra.'|trans }}</p>
        </div>
        {% if not pending %}
            <div class="thankyou">
                <p>{{ 'Para finalizar a sua encomenda, por favor insira no forumlário número de telefone associado à sua conta <strong>MB WAY</strong>'|trans|raw }}</p>
            </div>
            <form action="{{ shopperResultUrl }}" class="paymentWidgets">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="credit-card-div">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h5 class="text-muted text-center"> {{ 'Total a debitar: %amount% EUR'|trans({'%amount%': amount}) }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group has-feedback">
                                                <label for="cardnumber" class="control-label help-block "> {{ 'Número telemóvel MB Way'|trans }} <span class="glyphicon form-control-feedback" aria-hidden="true"></span> </label>
                                                <input id="cardnumber" type="number" size="9" class="form-control" placeholder="900 000 000" name="phone" required data-error="{{ 'Preencha o número de telemóvel (9 dígitos)'|trans }}" data-minlength="9" data-maxlength="9" value="{% if phone %}{{ phone }}{% endif %}"/>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top: 20px " class="row">
                                        <div class="col-xs-5">
                                            <input type="submit" class="btn btn-warning btn-block" value="{{ 'PAGAR'|trans }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="thankyou">
                <p>{{ 'À espera de pagamento na sua aplicação <strong>MB WAY</strong>.'|trans|raw }}</p>
                <p>{{ 'Para concluir o pagamento, aceda à aplicação <strong>MB WAY</strong> no seu telemóvel e autorize a operação.'|trans|raw }}</p>
                <div class="spinner-cont">
                    <i class="fa fa-spinner fa-spin fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">{{ 'Loading...'|trans }}</span>
                </div>
                <p><strong>{{ 'Após o pagamento, a sua encomenda será automaticamente processada e irá receber um e-mail com a confirmação da sua encomenda. Caso não encontre o email, verifique também a sua caixa SPAM e adicione o nosso email à sua lista de endereços.'|trans }}</strong></p>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block js %}

    {% if pending %}
        <script>
            var timer = setInterval(ajaxCall, 2000);
            
            function ajaxCall() {
                var orderStateUrl = "{{ url('status-mbway', {'cart_id':cartId}) }}";
                var successUrl = "{{ url('success-mbway', {'cart_id':cartId}) }}";
                
                $.ajax({
                    type: "GET",
                    url: orderStateUrl, 
                    dataType:'json',
                    success: function(data) {
                        console.log("estado = " + data['estado']);
                        if(data['estado'] == "DONE") {
                            window.location.replace(successUrl);
                        }
                        else if(data['estado'] == '') {
                            clearInterval(timer);
                        }
                    }
                });
            }
        </script>
    {% endif %}
{% endblock js %}
