{% extends 'new_base.twig' %}

{% block metaTitle %}{{megaTitle}}{% endblock %}
{% block pageTitle %}{{PageTitle}}{% endblock %}

{% block content %}

    <div class="search-top-bar">
        <div class="page-wrapper">
            <div class="search-title">{{ 'Confirmação de Encomenda'|trans }}</div>
        </div>
    </div>
    <div class="home-content results-content page-wrapper">
        <div class="block-title-payment"><h3><i class="pf pf-multibanco"></i> {{ 'Pagamento por Multibanco'|trans }}</h3></div>
            {% if error is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert-danger">
                        <div class="alert-danger-content">
                            <h4>{{ error }}</h4>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" href="{{ url('carrinho') }}">Voltar</a>
            </div>
            {% endif %}
            {% if paydata %}
                <div class="thankyou">
                    <p>{{ 'Caro Membro,'|trans }}</p>
                    <p>{{ 'Obrigado pela sua compra.'|trans }}</p>
                    <p>{{ 'Deverá agora proceder ao pagamento, no prazo máximo de 3 dias, no MULTIBANCO mais próximo ou através de HOMEBANKING, seleccionando a modalidade de "Pagamento de Serviços", utilizando os seguintes dados:'|trans }}</p>
                </div>
                <div class="mb-data">
                    <p>{{ 'Entidade:'|trans }} <strong>{{paydata.entity}}</strong></p>
                    <p>{{ 'Referência:'|trans }} <strong>{{paydata.reference}}</strong></p>
                    <p>{{ 'Valor:'|trans }} <strong>{{paydata.amount}}€</strong></p>
                </div>
                <div class="thankyou">
                    <p><strong>{{ 'Após o pagamento, a sua encomenda será automaticamente processada e irá receber um e-mail com a confirmação da sua encomenda. Caso não encontre o email, verifique também a sua caixa SPAM e adicione o nosso email à sua lista de endereços.'|trans }}</strong></p>

                    <p>{{ 'Cumprimentos e excelentes compras,'|trans }}</p>
                    <p>{{ 'A Equipa <strong>O meu Colchão</strong>'|trans|raw }}</p>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
	
